/* variables, mixins etc */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype"); }

/* recalculate */
/* common classes */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000374}}
.absolute {
  position: absolute !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000377}}
.btn {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000380}}
.coin {
  background: url(../images/coins.png) no-repeat 0 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000383}}
.clear {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000365}}
  .clear:after {
    clear: both !important;
    content: " " !important;
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000386}}
.close {
  background: url("../images/close_white.png") no-repeat 8px 8px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000392}}
.color-white {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000395}}
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; }

/* for all child elements */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003105}}
.all-font-normal {
  font-style: normal !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003107}}
  .all-font-normal * {
    font-style: normal !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003111}}
.btn_yellow {
  background: url(../images/yellowButton1.svg) no-repeat;
  background-position-x: -80px;
  background-size: 170%;
  border: solid 1px #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #060415;
  font-size: 17px;
  font-weight: bolder;
  height: 46px;
  line-height: 46px;
  margin: auto;
  width: 260px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003125}}
.half_wide {
  width: 50% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003128}}
.left {
  float: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003131}}
.opacity01 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003134}}
.opacity02 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003137}}
.opacity03 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003140}}
.opacity04 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003143}}
.opacity05 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003146}}
.opacity06 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003149}}
.opacity07 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003152}}
.opacity08 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003155}}
.opacity09 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003158}}
.right {
  float: right !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003161}}
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003166}}
.unicode_pointer {
  display: inline-block;
  -webkit-transform: scale(1.9, 0.9);
  -moz-transform: scale(1.9, 0.9);
  -ms-transform: scale(1.9, 0.9);
  -o-transform: scale(1.9, 0.9);
  transform: scale(1.9, 0.9);
  height: 0;
  width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003172}}
br, hr {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000332}}
[data-level="money"] * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000337}}
[data-level="money"] a.minor {
  color: #151239;
  font-family: AvenirRoman;
  opacity: 0.8;
  font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000344}}
[data-level="money"] > section {
  margin-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000346}}
  [data-level="money"] > section h4 {
    background: #151127;
    border-top: solid 1px #58546F;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 48px;
    color: #FFF;
    font-family: Amaranth;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 46px;
    padding: 1px 12px;
    text-shadow: 28px -19px 50px rgba(255, 255, 255, 0.75); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000361}}
  [data-level="money"] > section.menu {
    background-color: #1b1562;
    background-size: 100% 60px;
    float: left;
    height: 720px;
    padding: 10px;
    width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000368}}
    [data-level="money"] > section.menu menu {
      background: url(../images/bg_money_section_right_menu.jpg);
      box-shadow: none;
      color: white;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000373}}
      [data-level="money"] > section.menu menu li {
        background-color: transparent;
        cursor: default;
        height: 56px;
        line-height: 57.5px;
        padding: 5px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000379}}
        [data-level="money"] > section.menu menu li[data-block$="_visa"] > div {
          background-position-y: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000380}}
        [data-level="money"] > section.menu menu li[data-block$="_visas"] > div {
          background-position-y: -48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000381}}
        [data-level="money"] > section.menu menu li[data-block$="_skrill"] > div {
          background-position-y: -105px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000382}}
        [data-level="money"] > section.menu menu li[data-block$="_neteller"] > div {
          background-position-y: -163px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000383}}
        [data-level="money"] > section.menu menu li[data-block$="_entropay"] > div {
          background-position-y: -220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000384}}
        [data-level="money"] > section.menu menu li[data-block$="_ukash"] > div {
          background-position-y: -278px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000385}}
        [data-level="money"] > section.menu menu li[data-block$="_paysafecard"] > div {
          background-position-y: -335px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000386}}
        [data-level="money"] > section.menu menu li[data-block$="_all_cards"] > div {
          background-position-y: -393px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000387}}
        [data-level="money"] > section.menu menu li[data-block$="_bank"] > div {
          background-position-y: -453px;
          background-position-x: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000389}}
        [data-level="money"] > section.menu menu li:hover {
          background: url(../images/switch_to.png) #3f395c no-repeat;
          background-size: 360px 54px;
          background-position: -350px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000394}}
        [data-level="money"] > section.menu menu li div {
          background: url(../images/money_payment_ways.png);
          background-position-x: 17px;
          background-repeat: no-repeat;
          font-size: 0;
          height: 56px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003104}}
  [data-level="money"] > section.content {
    display: block;
    float: right;
    padding: 72px 210px 26px 24px;
    width: 824px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000365}}
    [data-level="money"] > section.content:after {
      clear: both !important;
      content: " " !important;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003109}}
    [data-level="money"] > section.content label {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003112}}
    [data-level="money"] > section.content > h1 {
      background: url(../images/bg_bottom_panel_right.png) repeat-x;
      background-size: 100% 60px;
      color: white;
      font-family: Amaranth;
      font-size: 24px;
      font-style: italic;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      padding-left: 26px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003130}}
    [data-level="money"] > section.content[data-level-content] {
      color: #003;
      font-size: 14px;
      font-family: Amaranth;
      line-height: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003136}}
    [data-level="money"] > section.content [type="submit"] {
      clear: both;
      display: block;
      margin: 20px auto;
      visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003141}}
      [data-level="money"] > section.content [type="submit"]:before {
        content: " ";
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003146}}
    [data-level="money"] > section.content .left {
      margin: 9px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003148}}
      [data-level="money"] > section.content .left.text {
        clear: left;
        line-height: 28px;
        letter-spacing: -0.35px;
        margin-right: 12px;
        width: 130px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003157}}
    [data-level="money"] > section.content input[type="text"],
    [data-level="money"] > section.content input[type="password"] {
      margin-right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003160}}
    [data-level="money"] > section.content [data-req="req"] {
      color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003162}}
      [data-level="money"] > section.content [data-req="req"]:before {
        content: '*'; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003168}}
  [data-level="money"] > section form div {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000365}}
    [data-level="money"] > section form div:after {
      clear: both !important;
      content: " " !important;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003172}}
  [data-level="money"] > section select {
    border-color: transparent;
    background: none;
    border: solid 1px #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-family: AvenirMedium;
    height: 35px;
    padding-right: 37px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003179}}
[data-level="money"] .btn_yellow {
  height: 43px !important;
  font-family: Amaranth;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 43px !important;
  text-shadow: rgba(255, 255, 255, 0.7) 1.7px 1.8px 1px;
  margin: -3px auto auto;
  width: 262px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003189}}
  [data-level="money"] .btn_yellow img {
    margin: 8px 12px -3px -6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003193}}
[data-level="money"] .button_place {
  padding-right: 40px;
  padding-top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003198}}
[data-level="money"] .checked_green,
[data-level="money"] .question_grey {
  position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003201}}
[data-level="money"] #common_content {
  background: #f3f3f3;
  border-left: solid 1px #DDD;
  bottom: 50px;
  position: absolute;
  padding-top: 14px;
  padding-left: 10px;
  right: 0;
  top: 110px;
  width: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003211}}
  [data-level="money"] #common_content [data-common] {
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003214}}
  [data-level="money"] #common_content #common_content_right_panels {
    right: 10px;
    top: 124px;
    width: 146px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003220}}
[data-level="money"] #content_right_panels {
  padding-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003222}}
  [data-level="money"] #content_right_panels > div {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #20196d), color-stop(100%, #3033a1));
    background-image: -webkit-linear-gradient(#20196d, #3033a1);
    background-image: -moz-linear-gradient(#20196d, #3033a1);
    background-image: -o-linear-gradient(#20196d, #3033a1);
    background-image: linear-gradient(#20196d, #3033a1);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 36px;
    border-top: solid 2px #B4B2E2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003231}}
  [data-level="money"] #content_right_panels h4 {
    background-repeat: no-repeat !important;
    border: solid 1px #19123C;
    border-top: solid 1px #0D0B3A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Amaranth;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #FFF;
    line-height: 33px;
    height: 36px;
    line-height: 36px;
    padding-left: 24px;
    text-shadow: black 1.1px 1.5px 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003248}}
  [data-level="money"] #content_right_panels div:nth-child(1) {
    height: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003250}}
    [data-level="money"] #content_right_panels div:nth-child(1) h4 {
      background: url(../images/right_live_chat.png) 4px 10px;
      background-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003254}}
    [data-level="money"] #content_right_panels div:nth-child(1) div.image {
      background: url(../images/girl.jpg) no-repeat;
      color: #060D30;
      font-style: italic;
      font-family: Amaranth;
      font-weight: bold;
      font-size: 15px;
      height: 66px;
      margin: 9px auto auto 7px;
      padding-top: 43px;
      padding-left: 3px;
      width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003267}}
    [data-level="money"] #content_right_panels div:nth-child(1) button {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283e9f), color-stop(100%, #17246a));
      background-image: -webkit-linear-gradient(#283e9f, #17246a);
      background-image: -moz-linear-gradient(#283e9f, #17246a);
      background-image: -o-linear-gradient(#283e9f, #17246a);
      background-image: linear-gradient(#283e9f, #17246a);
      border-width: 1px;
      border-color: #8D8E97;
      border-top: solid 1.5px #9E9BC7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      color: #FFF;
      font-family: Amaranth;
      font-size: 14px;
      height: 35px;
      line-height: 29px;
      position: absolute;
      right: 10px;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 0px 4px;
      top: 62px;
      width: 82px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003285}}
  [data-level="money"] #content_right_panels div:nth-child(2) {
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003287}}
    [data-level="money"] #content_right_panels div:nth-child(2) h4 {
      background: url(../images/upload_arrow_yellow.png) 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003291}}
  [data-level="money"] #content_right_panels #upload_docs {
    background: url(../images/upload_docs.png) no-repeat 18px -3px;
    font-family: AvenirRoman;
    font-size: 13px;
    height: 66px;
    line-height: 15px;
    margin-top: 17px;
    padding: 0 10px 20px 95px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003301}}
  [data-level="money"] #content_right_panels #verysign2 {
    background: url(../images/verysign_transp.png) center no-repeat rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    height: 67px;
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003309}}
[data-level="money"] .pay_way {
  color: #0b051a;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 3px;
  padding: 10px 0;
  padding-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003319}}
[data-level="money"] .select_pointer {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-right: solid 35px #625F6D;
  height: 34px;
  position: absolute;
  right: 7px;
  top: -7.8px;
  width: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003327}}
  [data-level="money"] .select_pointer .unicode_pointer {
    color: #FFF;
    margin-left: 23px;
    position: absolute !important;
    right: -8px;
    top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003333}}
    [data-level="money"] .select_pointer .unicode_pointer:hover {
      cursor: default; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003338}}
[data-level="money"] .underground_message {
  color: #0b051a;
  font-family: AvenirBook;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 19px;
  margin-top: 80px;
  margin-left: -50px;
  opacity: 0.5;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003356}}
[data-level="money"] input[type="button"], [data-level="money"] input[type="text"], [data-level="money"] input[type="password"], [data-level="money"] input[type="tel"], [data-level="money"] input[type="email"], [data-level="money"] input[type="number"], [data-level="money"] input[type="search"] {
  background: none;
  border: solid 1px #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: AvenirMedium;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  padding: 0 8px;
  width: 263px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003366}}
.checked_green {
  background: url(../images/check_white.png) #2ab855 no-repeat 3px;
  background-size: 12.667px 10.667px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block !important;
  height: 18px;
  line-height: 18px;
  width: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003375}}
.question_grey {
  background-color: #625f6d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: white;
  display: inline-block !important;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003384}}
  .question_grey:before {
    content: "?"; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003388}}
.opt_box {
  background-color: white;
  border: solid 1px #C6C6CE;
  border-top: none;
  display: none;
  left: 6px;
  position: absolute;
  top: 35px;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003397}}
  .opt_box > div {
    cursor: default;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    width: 58px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003403}}
    .opt_box > div:hover {
      background-color: #DDE; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003408}}
.radio-skin {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background-color: #50506F;
  border: solid 3px #50506F;
  position: absolute;
  font-size: 0;
  height: 16px;
  left: 3px;
  top: 10px;
  width: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003418}}
  .radio-skin.checked_box {
    background-color: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003423}}
#section_card_type {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000365}}
  #section_card_type:after {
    clear: both !important;
    content: " " !important;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003425}}
  #section_card_type label {
    background: url(../images/cards.png) no-repeat;
    height: 34px;
    line-height: 34px;
    margin-left: -2px;
    padding: 0;
    width: 88px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003432}}
    #section_card_type label input[type="radio"] {
      visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003435}}
    #section_card_type label:nth-child(1) {
      background-position-x: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003438}}
    #section_card_type label:nth-child(2) {
      background-position-x: -87px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003441}}
    #section_card_type label:nth-child(3) {
      background-position-x: -178px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003449}}
[data-level-content$="_visa"] h2.pay_way,
[data-level-content$="_visas"] h2.pay_way {
  background: url(../images/deposit_credit_card.png) no-repeat -1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003456}}
[data-level-content$="_neteller"] h2.pay_way {
  background: url(../images/money_header_neteller.png) no-repeat 3px 17px;
  background-size: 113px 19px;
  font-size: 0;
  margin-bottom: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003463}}
[data-level-content$="_neteller"] input#email {
  margin-top: -8px !important;
  margin-bottom: 2px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003467}}
[data-level-content$="_neteller"] input#amount {
  margin-bottom: -2px;
  margin-top: -10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003474}}
[data-level-content$="_skrill"] h2.pay_way {
  background: url(../images/money_header_skrill.png) no-repeat 3px 14px;
  background-size: 128px 24px;
  font-size: 0;
  margin-bottom: 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003483}}
[data-level-content$="_skrill"] #section_email .left:nth-child(2) {
  margin-top: 3px;
  margin-bottom: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003492}}
[data-level-content="deposit_paysafecard"] h2.pay_way {
  background: url(../images/money_header_paysafecard.png) no-repeat -2px 13px;
  background-size: 164px 28px;
  font-size: 0;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003499}}
[data-level-content="deposit_paysafecard"] .btn_yellow {
  margin-top: -8px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003502}}
[data-level-content="deposit_paysafecard"] .underground_message {
  margin-bottom: -93px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003508}}
[data-level-content="deposit_ukash"] h2.pay_way {
  background: url(../images/money_header_ukash.jpg) no-repeat 0px 7px;
  background-size: 91px 34px;
  font-size: 0;
  margin-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003517}}
[data-level-content="deposit_ukash"] #section_voucher .left:nth-child(1) {
  padding-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003520}}
[data-level-content="deposit_ukash"] #section_voucher .left:nth-child(2) {
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003523}}
[data-level-content="deposit_ukash"] #section_voucher .left:nth-child(4) {
  margin-top: 5px;
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003527}}
[data-level-content="deposit_ukash"] #section_voucher .left:nth-child(6) {
  margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003532}}
[data-level-content="deposit_ukash"] a.minor {
  margin: auto auto auto 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003535}}
[data-level-content="deposit_ukash"] .btn_yellow {
  margin-top: -7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003538}}
[data-level-content="deposit_ukash"] .underground_message {
  margin-bottom: -102px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003542}}
#voucher_value {
  margin-right: 6px;
  width: 82px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003549}}
[data-level-content="withdraw_bank"] h2.pay_way {
  background: url(../images/money_header_bank_information.png) no-repeat 0px 7px;
  background-size: 31px 30px;
  letter-spacing: -0.85px;
  margin-bottom: 10px;
  padding-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003557}}
[data-level-content="withdraw_bank"] .left {
  margin: 6px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003559}}
  [data-level-content="withdraw_bank"] .left:nth-child(even) {
    margin-top: 5px !important;
    margin-bottom: 2px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003564}}
[data-level-content="withdraw_bank"] #section_amount {
  margin-top: 21px;
  margin-bottom: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003568}}
[data-level-content="withdraw_bank"] #bank_name {
  margin-top: -2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003574}}
[data-level-content="withdraw_visa"] .button_place {
  padding-top: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003580}}
#card_type .left {
  margin-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003582}}
  #card_type .left .checked_green {
    right: -15px;
    top: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003590}}
#card_handler .left:nth-child(2) {
  padding: 1px 0 0 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003596}}
#user-name strong {
  font-family: AvenirBlack;
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003601}}
#change_your_details {
  background: url(../images/pencil_small.png) no-repeat -1px;
  margin-left: 10px;
  padding-left: 17px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003608}}
#card_number .left:nth-child(1) {
  margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003611}}
#card_number .left:nth-child(2) {
  margin-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003614}}
#card_number .left .checked_green {
  right: -21px;
  top: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003621}}
#card_expiration_date .left {
  margin-top: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003623}}
  #card_expiration_date .left span {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003626}}
    #card_expiration_date .left span#span_year .select_pointer {
      right: 1px; }

/* select */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003634}}
#year {
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003638}}
#card_cvv .left {
  margin-top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003641}}
#card_cvv .question_grey {
  right: -26px;
  top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003646}}
#cvv {
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003650}}
[data-common="safe_and_secure"] {
  bottom: 0px;
  position: absolute;
  right: 232px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003655}}
#safe_and_secure {
  background: url(../images/lock_gray.png) no-repeat 0 -1px;
  bottom: 12px;
  font-family: AvenirRoman;
  font-size: 12px;
  height: 18px;
  left: -130px;
  line-height: 18px;
  padding-left: 18px;
  position: absolute;
  white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003666}}
  #safe_and_secure b {
    font-family: AvenirBlack; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003671}}
#section_quick_deposit .left {
  margin-top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003675}}
#section_quick_deposit input[type="button"] {
  background-color: #625f6d;
  color: white;
  font-family: AvenirHeavy;
  font-size: 14px;
  height: 35px;
  margin: auto 5px auto 1px;
  width: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\0000314}}
  #section_quick_deposit input[type="button"]:hover {
    background-color: #FFF;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1) inset;
    color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003681}}
#section_amount {
  margin-top: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003684}}
  #section_amount input[type="text"] {
    margin-top: -3px;
    width: 112px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003689}}
  #section_amount .checked_green {
    right: -20px;
    top: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003694}}
#section_bonus_code {
  margin-top: -5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003697}}
  #section_bonus_code input[type="text"] {
    margin-top: -3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003702}}
#voucher_value2 {
  width: 51px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003705}}
#card_details_upd {
  position: relative;
  width: 340px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003708}}
  #card_details_upd h4 {
    color: #FFF;
    font-size: 18px;
    letter-spacing: -0.7px;
    line-height: 48px;
    padding-left: 13px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003718}}
  #card_details_upd form {
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003729}}
    #card_details_upd form input[type="text"], #card_details_upd form input[type="password"], #card_details_upd form input[type="tel"], #card_details_upd form input[type="email"], #card_details_upd form input[type="number"], #card_details_upd form input[type="search"] {
      background: none;
      border: solid 1px #CCC;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      font-family: AvenirMedium;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      display: block;
      height: 38px;
      margin-bottom: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003737}}
    #card_details_upd form p {
      color: #0b051a;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 19px;
      margin-top: 15px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003744}}
      #card_details_upd form p .normal {
        font-family: AvenirOblique;
        font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/levels\.scss}line{font-family:\00003749}}
    #card_details_upd form button[type="submit"] {
      border: solid 1px #CCC;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      background: url(../images/make_a_deposite.png);
      background-size: 260px 47px;
      background-position: -40px;
      font-size: 16px;
      font-weight: bold;
      margin: auto auto 7px auto !important;
      padding: 12px 62px; }

/*[data-level-content^="withdraw_"]{
    .left{
        margin: 6px auto;
        &:nth-child(even){
            margin-top: 5px !important;
            margin-bottom: 2px !important;
        }
    }
    #section_amount{
        margin-top: 21px;
        margin-bottom: 4px;
    }
}*/
