/* variables, mixins etc */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype"); }

/* recalculate */
/* common classes */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000376}}
.absolute {
  position: absolute !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000379}}
.btn {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000382}}
.coin {
  background: url(../images/coins.png) no-repeat 0 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000385}}
.clear {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000367}}
  .clear:after {
    clear: both !important;
    content: " " !important;
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000388}}
.close {
  background: url("../images/close_white.png") no-repeat 8px 8px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000394}}
.color-white {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\0000397}}
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; }

/* for all child elements */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003107}}
.all-font-normal {
  font-style: normal !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003109}}
  .all-font-normal * {
    font-style: normal !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003113}}
.btn_yellow {
  background: url(../images/yellowButton1.svg) no-repeat;
  background-position-x: -80px;
  background-size: 170%;
  border: solid 1px #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #060415;
  font-size: 17px;
  font-weight: bolder;
  height: 46px;
  line-height: 46px;
  margin: auto;
  width: 260px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003127}}
.half_wide {
  width: 50% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003130}}
.left {
  float: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003133}}
.opacity01 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003136}}
.opacity02 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003139}}
.opacity03 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003142}}
.opacity04 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003145}}
.opacity05 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003148}}
.opacity06 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003151}}
.opacity07 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003154}}
.opacity08 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003157}}
.opacity09 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003160}}
.right {
  float: right !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003163}}
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003168}}
.unicode_pointer {
  display: inline-block;
  -webkit-transform: scale(1.9, 0.9);
  -moz-transform: scale(1.9, 0.9);
  -ms-transform: scale(1.9, 0.9);
  -o-transform: scale(1.9, 0.9);
  transform: scale(1.9, 0.9);
  height: 0;
  width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/shared\.scss}line{font-family:\00003174}}
br, hr {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\000034}}
#top_bar {
  background: url(../images/bg_top_bar.png) repeat-x;
  background-size: contain;
  border: solid 1px #000;
  box-shadow: 0 0 23.07692307692308px #252424 !important;
  height: 50px;
  width: 100%; }

/* 1.33 */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000313}}
#logo {
  background: url(../images/logo.png) no-repeat;
  left: 15px;
  height: 27px;
  font-size: 0;
  color: #FFB600;
  font-family: AvenirMedium;
  font-size: 0;
  font-weight: bold;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black 1px -1px 0, black -1px 1px 0;
  top: 10px;
  padding: 0;
  width: 139px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000327}}
  #logo > span {
    font-size: 71%;
    letter-spacing: 0.76923px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000332}}
#free {
  background: url(../images/free.png) 100% 0 no-repeat;
  height: 58px;
  left: 133px;
  top: 124px;
  width: 58px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000340}}
#take_it {
  color: #FFF;
  font-family: AvenirBlack;
  font-size: 17px;
  letter-spacing: -0.55385px;
  height: 15.38462px;
  left: 33px;
  top: 160px;
  width: 207.982177734375px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000350}}
#seven {
  background: url(../images/7euros.png) no-repeat;
  height: 114.86723px;
  left: 39.663696px;
  top: 194.327393px;
  width: 133.32876px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000358}}
#get_it_now {
  background: url(../images/bg_get_it_now.png);
  background-repeat: repeat-x;
  border-radius: 3px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  font-family: Amaranth;
  font-size: 15.38462px;
  font-style: italic;
  font-weight: bold;
  height: 38.318485px;
  left: 42.663696px;
  letter-spacing: 0.35px;
  line-height: 38.83845px;
  text-align: center;
  text-transform: uppercase;
  top: 325.07692px;
  width: 112.991089px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000378}}
#no_deposit_required {
  color: #FFF;
  font-family: AvenirOblique;
  font-style: italic;
  font-size: 12.70px;
  left: 43.8px;
  letter-spacing: -0.6px;
  top: 369.46154px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000387}}
#total {
  color: #FFF;
  font-family: Amaranth;
  font-style: italic;
  font-size: 13.2px;
  left: 506.654785px;
  letter-spacing: 0.2px;
  text-align: center;
  top: 8.15385px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\0000397}}
.win_numb {
  background: url(../images/bg_666.jpg) repeat-x center center #122a55;
  border: solid 1.7px #333;
  border-top: solid 2px #3240BF;
  border-bottom: solid 4px #0D1E42;
  border-radius: 6px;
  box-shadow: 0 0 84px rgba(6, 255, 255, 0.5);
  height: 46.23077px;
  text-align: center;
  top: 24.7px;
  width: 69.53846px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003110}}
.h666 {
  font-size: 35.92308px;
  top: 30.76923px;
  width: 57.69231px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003114}}
  .h666 span {
    float: left;
    font-family: Amaranth; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003117}}
    .h666 span:first-child {
      color: #ffca00;
      font-weight: bold;
      height: 32.30769px;
      margin-bottom: -43px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003123}}
    .h666 span:last-child {
      color: #d89b03;
      font-weight: bold;
      height: 20px;
      overflow: hidden; }

/*	999	*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003132}}
#hell_trinity {
  background: url(../images/ears_box.png);
  height: 87px;
  left: 412px;
  top: 12px;
  width: 269px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003139}}
#hell666_1 {
  left: 439.982178px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003142}}
#hell666_2 {
  left: 518.5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003145}}
#hell666_3 {
  left: 596.991089px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003148}}
#win_numb_1 {
  left: 432.663696px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003151}}
#win_numb_2 {
  left: 511.982178px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003154}}
#win_numb_3 {
  left: 589.318481px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003158}}
[id^="ear_left_"],
[id^="ear_right_"] {
  height: 6.92308px;
  top: 47.69231px;
  width: 2.30769px;
  background: url(../images/ears.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003163}}
  [id^="ear_left_"][id$="1"],
  [id^="ear_right_"][id$="1"] {
    background-position: 0px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003165}}
#ear_left_1 {
  left: 430.8270676691729px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003168}}
#ear_right_1 {
  left: 503.0075187969925px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003171}}
#ear_left_2 {
  left: 510.5263157894737px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003174}}
#ear_right_2 {
  left: 583px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003177}}
#ear_left_3 {
  left: 589.4736842105263px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003180}}
#ear_right_3 {
  left: 660.1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003183}}
#current_time {
  background: url(../images/clock.png) no-repeat 0 #151647;
  border-top-left-radius: 15px;
  border-bottom: solid 1px #A2A6D6;
  border-bottom-left-radius: 15px;
  height: 26.15385px;
  color: #FFF;
  font-family: AvenirRoman;
  font-size: 11.6px;
  line-height: 27.69231px;
  letter-spacing: -0.2px;
  padding-left: 30.76923px;
  padding-right: 12px;
  right: 0;
  top: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WebServers\/home\/localhost\/www\/-WMSoftware\/games\/sass\/top_bar\.scss}line{font-family:\00003199}}
  #current_time b {
    font-family: AvenirHeavy; }
