/* variables, mixins etc */
@import "shared";
$bingo_width:125px;

.pointer_left{
	background: url(../images/pointer_left.png);
	left: 204.69231px;
}
.pointer_right{
	background: url(../images/pointer_right.png);
	right:146px;
}
[class^="pointer_"]{
	background-size: 95%;
	height: 40px;
	width: 40px;
}
[class^="pointer_"].top{
	top:151px;
}
[class^="pointer_"].middle{
	top:352px;
}	
[class^="pointer_"].bottom{
	top:553px;
}
[id^="bingo_header_"]{
	color: #FFD800;//$color-yellow-light;
	height: 32px;
	left: 200px;
	right: 146px;
	text-align: center;
	text-shadow: #000 1.5px 1.5px 0, #000 -1.5px -1.5px 0, #000 -2px 0px 0;
	span{
		background: none;
		font-family: Amaranth;
		font-size: 24px;
		font-style: italic;
		font-weight: bold;
		left: 240px;
		letter-spacing: -0.31px;
		padding-bottom: 4px;
		position: absolute;
		vertical-align: text-bottom;
		width: auto;
		&:first-of-type{
			height: 11px;
			overflow: hidden;
			z-index: 1;
		}
		&:last-of-type{
			color: #FB0;
			z-index: 0;
		}
	}
	div{
		background: url(../images/star.png) no-repeat 0 1px;
		display: inline-block;
		height: 25px;
		margin-top: 2px;
		padding-top: 0;
		width: 18px;
		&:nth-child(2){
			background: none;
			font-family: Amaranth;
			font-size: 24px;
			font-style: italic;
			font-weight: bold;
			letter-spacing: -0.31px;
			padding-bottom: 4px;
			vertical-align: text-bottom;
			width: auto;
		}
		&:last-child{
			margin-left: 4px;
			margin-right: -4px;
		}
	}
}
#bingo_header_1{
	top:92px;
	div{
		&:first-child{
			left:247px;
		}
		&:last-child{
			left:411px;			
		}
	}
	span{
		left:269px;
	}
}
#bingo_header_2{
	top:295px;
	div{
		&:first-child{
			left:243px;
		}
		&:last-child{
			left:415px;			
		}
	}
	span{
		left:268px;
	}
}
#bingo_header_3{
	top:497px;
	div{
		&:first-child{
			left:247px;
		}
		&:last-child{
			left:411px;			
		}
	}
	span{
		left:271px;
	}
}
.scene_bingo{
	background: url(../images/game_bingo.png) no-repeat;
	height: 143px;
	width: $bingo_width;
	&.top{
		top: 118px;	
		&+div{
			/*кнопка в первом ряду: позиция по вертикали*/
			top: 236px;
		}
	}
	&.middle{
		top: 321px;
		&+div{
			/*кнопка во втором ряду: позиция по вертикали*/
			top: 439px;
		}	
	}
	&.bottom{
		top: 523px;	
		&+div{
			/*кнопка в третьем ряду: позиция по вертикали*/
			top: 641px;
		}
	}
	&+div{
		/*кнопки во всех рядах: высота, ширина*/
		display: block;
		height: 25px;
		font-size: 13px;
		font-family: AvenirBlack;
		text-align: center;
		width: $bingo_width;		
		&>div{
			background-color: #EAE4FD;
			border: solid 1px #000;
			border-radius: 4px;
			box-shadow: 0 -6px 10px 0 #CCC inset;
			color:#18134b;
			@include rcLineHeight(30);
			margin:auto;
			position:static;
			white-space: nowrap;
		}
	}	
	/* позиции по горизонтали */
	/* первая колонка */
	&.left{
		left: 252px;
		&+div{
			left: 252px;
		}
	}
	/* вторая колонка */
	&.center_left{
		left:405px;
		&+div{
			left:405px;
		}
	}
	/* третья колонка */
	&.center_right{
		left:559px;
			&+div{
				left:559px;
			}
		}
	/* четвёртая колонка */
	&.right{
		left:708px;
			&+div{
			left:708px;
		}
	}
}	
#shell-corner-left{
	background: url(../images/shell_corners/vertical_left.jpg);
	left: 217px;
	top: 210px;
	height: 451px;
	width: 32px;
	z-index: 1;
}
#shell-corner-right{
	background: url(../images/shell_corners/vertical_right.jpg);
	left: 841px;
	height: 434px;
	top: 210px;
	width: 32px;
	z-index: 1;
}
/*#shell-corner-top-left{
	background: url(../images/shell_corners/shell_corner_top_left.jpg);
	left: 217px;
	top: 210px;
	height: 32px;
	width: 24px;
	z-index: 1;
}
#shell-corner-top-right{
	background: url(../images/shell_corners/shell_corner_top_right.jpg) 100%;
	left: 841px;
	height: 46px;
	top: 210px;
	width: 23px;
	z-index: 1;
}
#shell-corner-middle-left{
	background: url(../images/shell_corners/shell_corner_middle_left.jpg);
	left: 294px;
	top: 477px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-middle-right{
	background: url(../images/shell_corners/shell_corner_middle_right.jpg) 100%;
	left: 1015px;
	top: 477px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-bottom-left{
	background: url(../images/shell_corners/shell_corner_bottom_left.jpg);
	left: 294px;
	top: 718px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-bottom-right{
	background: url(../images/shell_corners/shell_corner_bottom_right.jpg) 100%;
	left: 1015px;
	top: 718px;
	height: 32px;
	width: 47px;
	z-index: 1;
}*/