/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";

// перерасчитать пикселы в %%:
@mixin calcHeight($height){
	height: ($height/768*100)*1%;
}
@mixin calcTop($top){
	top: ($top/768*100)*1%;
}
@mixin calcLeft($left){
	left: ($left/1024*100)*1%;
}
@mixin calcWidth($width){
	width: ($width/1024*100)*1%;
}

$base-font-size: 16px;

html, body {
	height: 100%;
}
body{
	overflow:hidden;
	font: 100% normal;
	*{
		font-family: Avenir, Amaranth, Righteous-Regular;
	}
}
#wrapper {
	background:url(../images/bg_bench.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	position:absolute;
}

div,span{
	box-shadow: 0 0 0 1px #F00;
	box-sizing:border-box;	
}
div{
	position:absolute;
}
#top_bar{
	@include calcHeight(90);
	width:100%;
}


	#logo{
		@include calcLeft(12);
		@include calcHeight(30);
		font-size: 200%;
		width: 38%;
	}

	#free{
		background:url(../images/free.png);
		height:58px;
		left:133px;
		top:124px;
		width:58px;
	}

	#take_it{
		height:15px;
		color: white; 
		font-weight: bold;
		left:34px;
		letter-spacing: 0.15px;
		top: 157px;
		width: 156px;
	}

	#seven{
		background:url(../images/7euros.png);
		height:112px;
		left:41px;
		top: 196px;
		width: 130px;
	}

	#get_it_now{
		background:url(../images/bg_get_it_now.png);
		background-repeat: repeat-x;
		border-radius: 3px;
		border-left: solid 1px #000;
		border-right: solid 1px #000;
		font-style: italic;
		font-weight: bold;
		height: 37px;
		left:41px;
		line-height: 37px;
		text-align: center;
		text-transform: uppercase;
		top: 324px;
		width: 117px;
	}

	#no_deposit_required{
		color:white;
		font-style:italic;
		font-size: 80%;
		left:45px;
		letter-spacing: 0.2px;
		top: 367px;
		width: 113px;
	}

	#total{
		color: white;
		font-style: italic;
		font-size: 14.5px;
		left: 506px;
		text-align:center;
		top: 6px;
	}
	.win_numb{
		height: 49px;
		text-align:center;
		top:26px;
		width: 74px;
	}		
	#win_numb_1{
		left: 431px;
	}
	#win_numb_2{
		left: 510px;
	}
	#win_numb_3{
		left: 589px;
	}
	#current_time{
		height: 26px;
		color: white;
		font-size: 13.5px;
		line-height: 26px;
		padding-left: 27px;
		right: 5px;
		top:14px;
		width: 217px;
	}
#welcome_back{
	height:40px;
	left:10px;
	top: 64px;
	width:188px;
}				

#left_top_box,
.left_bottom_box{
	left: 10px;
	width:180px;
}
#left_top_box{
	height: 272px;
	top: 123px;
}
.left_bottom_box{
	height:50px;
	border-bottom: solid 1px #333;
	color: red;
	padding: 8px 13px;
}
	#left_bottom_box_1{
		top:405px; /* далее +50px	*/
	}
	#left_bottom_box_2{
		top:455px;
	}
	#left_bottom_box_3{
		top:505px;
	}
	#left_bottom_box_4{
		top:555px;
	}
	#left_bottom_box_5{
		top:605px;
	}

.right_block{
	height: 170px;
	right: 12px;
	width: 134px;
}
#right_block_promotions{
	top: 67px;
}
#right_block_live_support{
	top: 246px	
}
	
.scene_bingo{
	background: url(../images/game_bingo.png);
	height: 143px;
	width: 118px;
	&.top{
		top: 118px;
		&+div{
			/*кнопка в первом ряду: позиция по вертикали*/
			top: 236px;
		}
	}
	&.middle{
		top: 321px;	
		&+div{
			/*кнопка во втором ряду: позиция по вертикали*/
			top: 439px;
		}
	}
	&.bottom{
		top: 523px;
		&+div{
			/*кнопка в третьем ряду: позиция по вертикали*/
			top: 641px;
		}
	}
	&+div{
		/*кнопки во всех рядах: высота, ширина*/
		display: block;
		height: 25px;
		font-size: 100%; /* тот же, что и у wrapper'а!*/
		line-height: 25px;
		text-align: center;
		width: 118px; /* та же, что и у родительского блока, иначе возникнут проблемы - при относительном позиционировании увеличение размера шрифта может привести к непредсказуемым последствиям */
		&>div{
			margin:auto;
			position:static; /* у родительского блока размер шрифта - 100%*/
		}
	}
	/* позиции по горизонтали */
	/* первая колонка */
	&.left{
		left: 252px;
		&+div{
			left: 252px;
		}
	}
	/* вторая колонка */
	.scene_bingo.center_left{
		left:405px;
		&+div{
			left:405px;
		}
	}
	/* третья колонка */
	.scene_bingo.center_right{
		left:559px;
		&+div{
			left:559px;
		}	 
	}
	/* четвёртая колонка */
	.scene_bingo.right{
		left:708px;
		&+div{
			left:708px;
		}
	}	
		
}
	
	#my_balance,
	#currency_sum{
		line-height:50px;
	}
	#my_balance{
		bottom:0;
		margin-left:12px;
	}
	#currency_sum{
		background-color:#0F0E32;
		bottom: 11px;
		color:white;
		height: 29px;
		line-height:28px;
		left: 99px;
		text-align: center;
		width: 88px;
	}
	#bottom_top_left{
		bottom: 51px;
		height:31px;
		width:80px;
	}	
	#bottom_menu_left_side,
	#bottom_menu_right_side{
		bottom: 1px;
	}
	#bottom_menu_left_side{
		height: 50px;
		width:201px;
	}
	#bottom_menu_right_side{
		height: 47px;
		left: 207px;
		text-align:right;
		padding: 18px 0;
		width:819px;
	}	
	.bottom_menu_item{
		bottom: 3px;
		color:white;
		font-size: 16px;
		font-weight: bold;
		line-height: 29px;
		padding:4px;	
		padding-left: 19px;
	}
	#bottom_menu_item_profile{
		left: 594px;
	}
	#bottom_menu_item_cashier{
		left: 676px;
	}
	#bottom_menu_item_games{
		left: 759px;
		width: 84px;
	}
	#bottom_menu_item_chat{
		left: 855px;
	}
	#bottom_menu_item_logout{
		left: 954px;
	}