/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
html, body {
	height: 100%;
	margin: 0;
}
#screen_wrapper{
	background-color: yellow;
}
#screen{
	background-color: orange;
	//left: 0;
	//position: absolute;
	//top: 0;
	// height: (6/8);
	// width: (8/6);
}
/* если не менее стандартного соотношения (напр. 1027/768; исходный размер макета) */
/*@media (min-aspect-ratio: 8/6){ 
	body{
		background-color: #efefef;
	}
	#screen_wrapper{
		height:100%;		
	}
}*/

