@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities"; /* inc clearfix */ 

@font-face { 
	font-family: 'Amaranth';
  	src: url('../sources/fonts/Amaranth.ttf') format('truetype'); 
}

$color-yellow-dark:#D89B03;
$color-yellow-light:#FFCA00;

/* recalculate */
$correction:1.3;

@mixin rcH($height){
	height: ($height/$correction)*1px;
}
@mixin rcW($width){
	width: ($width/$correction)*1px;
}

@mixin rcB($bottom){
	bottom: ($bottom/$correction)*1px;
}
@mixin rcT($top){
	top: ($top/$correction)*1px;
}
@mixin rcL($left){
	left: ($left/$correction)*1px;
}
@mixin rcR($right){
	right: ($right/$correction)*1px;
}
@mixin rcFontSize($size){
	font-size: ($size/$correction)*1px;
}
@mixin rcBackGroundSize($size){
	background-size: ($size/$correction)*1px;
}
@mixin rcLetterSpacing($letter-spacing){
	letter-spacing: ($letter-spacing/$correction)*1px;
}
@mixin rcPaddingTop($padding-top){
	padding-top: ($padding-top/$correction)*1px;
}
@mixin rcPaddingLeft($padding-left){
	padding-left: ($padding-left/$correction)*1px;
}
@mixin rcLineHeight($line-height){
	line-height: ($line-height/$correction)*1px;
}
