<div id="labeled_checkbox" class="absolute_float">
	<div class="inner_auto_container">
    <label data-box="agreement" class="ellipse" id="agreement_label">
        <input type="checkbox" id="agreement" name="agreement" required="required" /> <!--not focused if visibility:hidden. So opacity:0 is set -->
    </label>
    <span class="skip_common">I have read and accepted the <a href="terms_and_conditions.html" id="a_terms-and-conditions">terms and conditions</a></span>
</div>
</div>
<a id="a_already_have_account" class="skip_common link-question" href="login.html">Already have a Demo Account?</a>
<div id="left_support-bg_overlight" class="left_support bg_overlight">
    <div class="small_header">
        <div class="subsrtrate">
            <div class="subheader">Live Support</div>
        </div>
    </div>
  <div class="support_bottom clear">
          <img class="block left" src="images/girl.jpg" width="105" height="66">
    <p class="skip_common">You measure the people.</p>
    </div>
</div>