<input type="text" id="address" 			name="address" />
<input type="text" id="city" 				name="city" />
<input type="text" id="country" 			name="country" />
<input type="email" id="email" 				name="email" required="required" />
<!--    Set pattern to validate a phone number? 
        For example:  pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' 
        title='Phone Number (Format: +99(99)9999-9999)'
-->
<input type="tel" id="home_phone" 			name="home_phone" />
<input type="tel" id="mobile_phone" 		name="mobile_phone" required="required" />

<input type="text" id="password" 			name="password" required="required" />
<input type="text" id="current_password"	name="current_password" required="required" />
<input type="text" id="new_password"		name="new_password" required="required" />
<input type="text" id="retype_password" 	name="retype_password" required="required" />
<input type="text" id="username" 			name="username" required="required" />
<input type="text" id="username_or_email" 	name="username_or_email" required="required" />
<input type="text" id="zip_code" 			name="zip_code" />