<input type="text" id="address" 			name="address" />
<input type="text" id="city" 				name="city" />
<input type="text" id="country" 			name="country" />
<input type="text" id="email" 				name="email" />
<input type="text" id="home_phone" 			name="home_phone" />
<input type="text" id="mobile_phone" 		name="mobile_phone" />

<input type="text" id="password" 			name="password" />
<input type="text" id="current_password"	name="current_password" />
<input type="text" id="new_password"		name="new_password" />
<input type="text" id="retype_password" 	name="retype_password" />
<input type="text" id="username" 			name="username" />
<input type="text" id="username_or_email" 	name="username_or_email" />
<input type="text" id="zip_code" 			name="zip_code" />

<input type="checkbox" id="agreement" name="agreement" />
