<!--éêèëàâùûôöîïçÉÊÈËÀÂÙÛÔÖÎÏÇ-->
<!-- location data -->
address
<input type="text" 	id="address" 			name="address" 			tabindex="7"  />
city
<input type="text" 	id="city" 				name="city" 			tabindex="9"  />
country
<input type="text" 	id="country" 			name="country" 			tabindex="10" />
zip_code
<input type="text" 	id="zip_code" 			name="zip_code" 		tabindex="8" />

<!-- contact data -->
<!-- Email checks by the native HTML5 validator -->
email
<input type="text" id="email" 				name="email" />
<!--10 numbers (from 0 to 9) and allow spaces (french people used to make 
	a space every 2 numbers for phone numbers... in the backend, make it 
    appears without the spaces) -->
home_phone
<input type="tel" 	id="home_phone" 		name="home_phone"  onKeyUp="removeDoubleSpaces(this);"	tabindex="11"  />
mobile_phone
<input type="tel" 	id="mobile_phone" 		name="mobile_phone"  onKeyUp="removeDoubleSpaces(this);"	tabindex="11" />

<!-- password fields 6-20-->
password
<input type="password" 	id="password" 			name="password" />
current_password
<input type="password" 	id="current_password"	name="current_password" />
new_password
<input type="password" 	id="new_password"		name="new_password" />
<input type="password" 	id="retype_password" 	name="retype_password" />

<!-- personal data group -->
first_name
<input type="text" 	id="first_name" 		name="first_name"		tabindex="5" />
last_name
<input type="text" 	id="last_name" 			name="last_name"		tabindex="6" />
<!--only letters (from a to z) and numbers (from 0 to 9) 6-20-->
username
<input type="text" 	id="username" 			name="username" />
username_or_email
<input type="text" 	id="username_or_email" 	name="username_or_email" />