<!--amount-->
<div id="section_amount" class="section">
    <div class="left text"><span  data-req="req"></span>Amount</div>
    <div class="left">
		<input type="text" id="amount" name="amount" placeholder="" />
    </div>
</div>

<!--bank_account-->
<div id="section_bank" class="section">
    <div class="left text">Bank Name</div>
    <div class="left">
		<input type="text" id="bank_name" name="bank_name" placeholder="" />
	</div>

    <div class="left text">Bank Account Name</div>
    <div class="left">
		<input type="text" id="bank_account_name" name="bank_account_name" placeholder="" />
	</div>

    <div class="left text">Bank Address</div>
    <div class="left">
		<input type="text" id="bank_address" name="bank_address" placeholder="" />
	</div>

    <div class="left text">Bank Swift/BIC Code</div>
    <div class="left">
		<input type="text" id="bank_bic_code" name="bank_bic_code" placeholder="" />
	</div>

    <div class="left text">Bank Sort Code</div>
    <div class="left">
		<input type="text" id="bank_sort_code" name="bank_sort_code" placeholder="" />
	</div>

    <div class="left text">Bank IBAN No.</div>
    <div class="left">
		<input type="text" id="bank_iban_no" name="bank_iban_no" placeholder="" />
	</div>

</div>

<!--bonus_code-->
<div id="section_bonus_code" class="section">
    <div class="left text">Bonus Code</div>
    <div class="left">
		<input type="text" id="bonus_code" name="bonus_code" placeholder="" />
	</div>
</div>

<!-- uKash -->
<div id="section_voucher" class="section">
    <div class="left text">Voucher Number</div>
    <div class="left">
        <input type="text" id="voucher_number" name="voucher_number" placeholder="" />
    </div>
    <div class="left text">Voucher Value</div>
    <div class="left">
        <input type="text" id="voucher_value" name="voucher_value" placeholder="" />
    </div>
    <div class="left">
        <input type="text" id="voucher_value2" name="voucher_value2" placeholder="" />	View currency exchange rates
    </div>
    <div class="left text">Bonus Coupon</div>
    <div class="left">
        <input type="text" id="bonus_coupon" name="bonus_coupon" placeholder="" />
	</div>
</div>   
 
<!-- Credit Cards -->
<div id="section_card_type" class="section">
    <div id="card_type">
        <div class="left text"><span  data-req="req"></span>Card Type</div>
        <div class="left">
            <label>
                <input type="radio" name="card_type" id="visa" required />
            </label>
            <label>
                <input type="radio" name="card_type" id="mastercard" required />
            </label>
            <label>
                <input type="radio" name="card_type" id="club" required />
            </label>    
        </div>
    </div>    
    <div class="left text"><span  data-req="req"></span>Card Holder/Owner</div>
    <div class="left"><strong>Jhon K. Doe</strong> <a class="edit" href="#" onClick="return openWindow('money_client_card_holder');" id="change_your_details">Change your details</a></div>
    
	<div class="left text"><span  data-req="req"></span>Card Number</div>
    <div class="left">
        <input type="text" id="card_number" name="card_number" placeholder="" />
    </div>
 
	<div class="left text"><span  data-req="req"></span>Expiration Date</div>
    <div class="left">
    	<select name="month" required>
        
          <option>Month</option>

          <option value="1">01</option>
        
          <option value="2">02</option>
        
          <option value="3">03</option>
        
          <option value="4">04</option>
        
          <option value="5">05</option>
        
          <option value="6">06</option>
        
          <option value="7">07</option>
        
          <option value="8">08</option>
        
          <option value="9">09</option>
        
          <option value="10">10</option>
        
          <option value="11">11</option>
        
          <option value="12">12</option>
        
        </select>
    	<select name="Year" required>
          <option>Year</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
		</select>
    </div>
 
	<div class="left text"><span  data-req="req"></span>CVV</div>
    <div class="left">
    	<input type="text" id="cvv" name="cvv" />
    </div>
</div>

<!--quick_deposit-->
<div id="section_quick_deposit" class="section">
    <div class="left text">Quick Deposit.</div>
    <div class="left">
		<input type="button" id="e10" name="e10" value="10&euro;" />
		<input type="button" id="e25" name="e25" value="25&euro;" />
		<input type="button" id="e50" name="e50" value="50&euro;" />
		<input type="button" id="e100" name="e100" value="100&euro;" />
		<input type="button" id="e200" name="e200" value="200&euro;" />
    </div>
</div>

<!--email-->
<div id="section_email" class="section">
    <div class="left text">Email</div>
    <div class="left">
		<input type="text" id="email" name="email" />
    </div>
</div>