<!--amount-->
<div id="section_amount" class="section">
    <div class="left text"><span data-req="req"></span>Amount:</div>
    <div class="left">
		<input type="text" id="money_amount" name="amount" data-default_value="&euro;" />
        <div class="flag"></div>    
    </div>
</div>

<!--bank_account-->
<div id="section_bank" class="section">
    <div class="left text">
    	<span data-req="req"></span>
        Bank Name:
    </div>
    <div class="left">
		<input type="text" id="money_bank_name" name="bank_name" data-default_value="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Account Name:
    </div>
    <div class="left">
		<input type="text" id="money_bank_account_name" name="bank_account_name" data-default_value="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Address:
    </div>
    <div class="left">
		<input type="text" id="money_bank_address" name="bank_address" data-default_value="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Swift/BIC Code
    </div>
    <div class="left">
		<input type="text" id="money_bank_bic_code" name="bank_bic_code" data-default_value="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Sort Code:
    </div>
    <div class="left">
		<input type="text" id="money_bank_sort_code" name="bank_sort_code" data-default_value="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank IBAN No.:
    </div>
    <div class="left">
		<input type="text" id="money_bank_iban_no" name="bank_iban_no" data-default_value="" />
	</div>

</div>

<!--bonus_code-->
<div id="section_bonus_code" class="section">
    <div class="left text">Bonus Code:</div>
    <div class="left" data-placeholder="bonus_code">
		<input type="text" id="money_bonus_code" name="bonus_code" data-default_value="Not Mandatory" /><!--Bonus Code-->
	</div>
</div>

<!-- uKash -->
<div id="section_voucher" class="section">
    <div class="left text">
    	<span data-req="req"></span>
        Voucher Number:
    </div>
    <div class="left">
        <input type="text" id="money_voucher_number" name="voucher_number" data-default_value="" />
    </div>
    
    <div class="left text">
    	<span data-req="req"></span>
    	Voucher Value:
    </div>
    <div class="left">
        <input type="text" id="money_voucher_value" name="voucher_value" data-default_value="" />
        <input type="text" id="money_voucher_value2" name="voucher_value2" data-default_value="" />	<a href="javascript:void(0)" class="minor">View currency exchange rates</a>
    </div>
    <div class="left text">
    Bonus Coupon:</div>
    <div class="left">
        <input type="text" id="money_bonus_coupon" name="bonus_coupon" data-default_value="" />
	</div>
</div>   
 
<!-- Credit Cards -->
<div id="section_card_type" class="section">
    <div id="money_card_type">
        <div class="left text"><span  data-req="req"></span>Card Type:</div>
        <div class="left">
            <label>
                <input type="radio" name="card_type" data-req="card_type" id="money_visa" data-default_value="" />
                <div class="radio-skin">*</div>
            </label>
            <label>
                <input type="radio" name="card_type" data-req="card_type" id="money_mastercard" data-default_value="" />
                <div class="radio-skin">*</div>
            </label>
            <label>
                <input type="radio" name="card_type" data-req="money_club" id="money_club" data-default_value="" />
                <div class="radio-skin">*</div>
            </label>
            <div class="flag"></div>    
        </div>
    </div>    
	<div id="card_handler">
        <div class="left text"><span  data-req="req"></span>Card Holder/Owner:</div>
        <div class="left" id="money_user-name">
            <!-- is hidden because its value is
            assigned after pop-up window is being opened, data is set, stored in DB and the responce is got	-->
        	<input type="hidden" id="money_card_holder" value="1"/>
            <strong>John K. Doe</strong> <a class="minor" href="#" onClick="return openWindow('money_client_card_holder');" id="money_change_your_details">Change your details</a></div>
    </div>
	<div id="card_number">
        <div class="left text"><span  data-req="req"></span>Card Number:</div>
        <div class="left">
            <input type="text" id="money_card_number" name="card_number" data-default_value="" />
            <div class="flag"></div>    
        </div>
 	</div>
	<div id="card_expiration_date">
        <div class="left text"><span  data-req="req"></span>Expiration Date:
        </div>
        <div class="left">
            <span id="money_span_month">
            	<select id="money_month" name="month"  data-default_value="Month" value="" >
            
              <option>Month</option>
    
              <option value="1">01</option>
            
              <option value="2">02</option>
            
              <option value="3">03</option>
            
              <option value="4">04</option>
            
              <option value="5">05</option>
            
              <option value="6">06</option>
            
              <option value="7">07</option>
            
              <option value="8">08</option>
            
              <option value="9">09</option>
            
              <option value="10">10</option>
            
              <option value="11">11</option>
            
              <option value="12">12</option>
            
            </select>
                <div class="flag"></div>    
            	<div class="select_pointer">
                	<span class="unicode_pointer">&#9660;</span>
                </div>
            </span>
            <span id="money_span_year">
            	<select id="money_year" name="year" data-default_value="Year" >
              <option>Year</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
            </select>
                <div class="flag"></div>    
            	<div class="select_pointer">
                	<span class="unicode_pointer">&#9660;</span>
                </div>
            </span>
        </div>
	</div>
	<div id="card_cvv">
        <div class="left text"><span  data-req="req"></span>CVV:</div>
        <div class="left">
            <input type="text" id="money_cvv" name="cvv" data-default_value="" /><!--CVV-->
            <div class="flag"></div>            
            <div class="question_grey"></div>
        </div>
    </div>
</div>

<!--quick_deposit-->
<div id="section_quick_deposit" class="section">
    <div class="left text">Quick Deposit:</div>
    <div class="left">
		<input type="button" id="money_e10" name="e10" value="10&euro;" />
		<input type="button" id="money_e25" name="e25" value="25&euro;" />
		<input type="button" id="money_e50" name="e50" value="50&euro;" />
		<input type="button" id="money_e100" name="e100" value="100&euro;" />
		<input type="button" id="money_e200" name="e200" value="200&euro;" />
    </div>
</div>

<!--email-->
<div id="section_email" class="section">
    <div class="left text"><span data-req="req"></span>Email</div>
    <div class="left">
		<input type="text" id="money_email" name="email" data-default_value="" />
    </div>
</div>

<!-- common content -->
<div id="safe_and_secure">
	<b>100%</b> Safe &amp; Secure
</div>
<div id="content_right_panels">
	<div>
    	<h4>Live Support</h4>
        <div class="image">24/7</div>
        <button>Chat Now!</button>
    </div>
    <div>
    	<h4>Upload Document</h4>
        <div id="upload_docs" style="cursor:pointer">
        	Click Here and upload your documents
        </div>
        <form id="form_upload_doc" style="display:none;">
            <input type="file" value="">
        </form>
        <div id="upload_now">
  			<div style="height: auto;">
				<div id="uploaded_file_name">
                </div>
                <button id="btn_upload_now" type="button">Upload now</button>
				<a id="cancel_uploading" href="javascript:void(0)">
                	Cancel</a>
			</div>
		</div>
    </div>
    <div id="verysign2">
    </div>
</div>