<!--amount-->
<div id="section_amount" class="section">
    <div class="left text"><span  data-req="req"></span>Amount:</div>
    <div class="left">
		<input type="text" id="amount" name="amount" placeholder="5000" required />
        <div class="checked_green"></div>    
    </div>
</div>

<!--bank_account-->
<div id="section_bank" class="section">
    <div class="left text">
    	<span data-req="req"></span>
        Bank Name:
    </div>
    <div class="left">
		<input type="text" id="bank_name" name="bank_name" placeholder="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Account Name:
    </div>
    <div class="left">
		<input type="text" id="bank_account_name" name="bank_account_name" placeholder="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Address:
    </div>
    <div class="left">
		<input type="text" id="bank_address" name="bank_address" placeholder="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Swift/BIC Code
    </div>
    <div class="left">
		<input type="text" id="bank_bic_code" name="bank_bic_code" placeholder="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank Sort Code:
    </div>
    <div class="left">
		<input type="text" id="bank_sort_code" name="bank_sort_code" placeholder="" />
	</div>

    <div class="left text">
    	<span data-req="req"></span>
        Bank IBAN No.:
    </div>
    <div class="left">
		<input type="text" id="bank_iban_no" name="bank_iban_no" placeholder="" />
	</div>

</div>

<!--bonus_code-->
<div id="section_bonus_code" class="section">
    <div class="left text">Bonus Code:</div>
    <div class="left">
		<input type="text" id="bonus_code" name="bonus_code" placeholder="Not Mandatory" /><!--Bonus Code-->
	</div>
</div>

<!-- uKash -->
<div id="section_voucher" class="section">
    <div class="left text">
    	<span data-req="req"></span>
        Voucher Number:
    </div>
    <div class="left">
        <input type="text" id="voucher_number" name="voucher_number" placeholder="" />
    </div>
    
    <div class="left text">
    	<span data-req="req"></span>
    	Voucher Value:
    </div>
    <div class="left">
        <input type="text" id="voucher_value" name="voucher_value" placeholder="" />
        <input type="text" id="voucher_value2" name="voucher_value2" placeholder="" />	<a href="javascript:void(0)" class="minor">View currency exchange rates</a>
    </div>
    <div class="left text">
    Bonus Coupon:</div>
    <div class="left">
        <input type="text" id="bonus_coupon" name="bonus_coupon" placeholder="" />
	</div>
</div>   
 
<!-- Credit Cards -->
<div id="section_card_type" class="section">
    <div id="card_type">
        <div class="left text"><span  data-req="req"></span>Card Type:</div>
        <div class="left">
            <label>
                <input type="radio" name="card_type" id="visa" required />
                <div class="radio-skin">*</div>
            </label>
            <label>
                <input type="radio" name="card_type" id="mastercard" required />
                <div class="radio-skin">*</div>
            </label>
            <label>
                <input type="radio" name="card_type" id="club" required />
                <div class="radio-skin">*</div>
            </label>
            <div class="checked_green"></div>    
        </div>
    </div>    
	<div id="card_handler">
        <div class="left text"><span  data-req="req"></span>Card Holder/Owner:</div>
        <div class="left" id="user-name"><strong>John K. Doe</strong> <a class="minor" href="#" onClick="return openWindow('money_client_card_holder');" id="change_your_details">Change your details</a></div>
    </div>
	<div id="card_number">
        <div class="left text"><span  data-req="req"></span>Card Number:</div>
        <div class="left">
            <input type="text" id="card_number" name="card_number" placeholder="" required />
            <div class="checked_green"></div>    
        </div>
 	</div>
	<div id="card_expiration_date">
        <div class="left text"><span  data-req="req"></span>Expiration Date:</div>
        <div class="left">
            <span id="span_month">
            	<select id="month" name="month" required>
            
              <option>Month</option>
    
              <option value="1">01</option>
            
              <option value="2">02</option>
            
              <option value="3">03</option>
            
              <option value="4">04</option>
            
              <option value="5">05</option>
            
              <option value="6">06</option>
            
              <option value="7">07</option>
            
              <option value="8">08</option>
            
              <option value="9">09</option>
            
              <option value="10">10</option>
            
              <option value="11">11</option>
            
              <option value="12">12</option>
            
            </select>
            	<div class="select_pointer">
                	<span class="unicode_pointer">&#9660;</span>
                </div>
            </span>
            <span id="span_year">
            	<select id="year" name="year" required>
              <option>Year</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
            </select>
            	<div class="select_pointer">
                	<span class="unicode_pointer">&#9660;</span>
                </div>
            </span>
        </div>
	</div>
	<div id="card_cvv">
        <div class="left text"><span  data-req="req"></span>CVV:</div>
        <div class="left">
            <input type="text" id="cvv" name="cvv" required placeholder="" /><!--CVV-->
            <div class="question_grey"></div>    
        </div>
    </div>
</div>

<!--quick_deposit-->
<div id="section_quick_deposit" class="section">
    <div class="left text">Quick Deposit:</div>
    <div class="left">
		<input type="button" id="e10" name="e10" value="10&euro;" />
		<input type="button" id="e25" name="e25" value="25&euro;" />
		<input type="button" id="e50" name="e50" value="50&euro;" />
		<input type="button" id="e100" name="e100" value="100&euro;" />
		<input type="button" id="e200" name="e200" value="200&euro;" />
    </div>
</div>

<!--email-->
<div id="section_email" class="section">
    <div class="left text"><span data-req="req"></span>Email</div>
    <div class="left">
		<input type="text" id="email" name="email" placeholder="john@doe.com" />
    </div>
</div>
<!-- common content -->
<div id="safe_and_secure">
	<b>100%</b> Safe &amp; Secure
</div>
<div id="content_right_panels">
	<div>
    	<h4>Live Support</h4>
        <div class="image">24/7</div>
        <button>Chat Now!</button>
    </div>
    <div>
    	<h4>Upload Document</h4>
        <div id="upload_docs">
        	Click Here and upload your documents
        </div>
    </div>
    <div id="verysign2">
    </div>
</div>