<div id="gender" class="inline clear all-font-normal">
	<div>Gender:</div>
    <div>
        <label class="radio">
        	<input tabindex="0" name="gender" id="radio_male" type="radio" value="male" required>Male
        </label>
    </div>
    <div>
        <label class="radio">
        	<input tabindex="1" name="gender" id="radio_female" type="radio" value="female" required>Female
        </label>
    </div>
</div>
<div id="birthday" class="inline clear all-font-normal">
    <div>Birthday:</div>
    <div>
    	<input tabindex="4" name="year" id="year" type="text" value="year" required />
    </div>
    <div>
    	<input tabindex="3" name="month" id="month" type="text" value="month" required />
    </div>
    <div>
    	<input tabindex="2" name="day" id="day" type="text" value="day" required />
    </div>
</div>
