<div id="gender" class="inline clear all-font-normal">
	<div>Gender:</div>
    <div>
        <label class="radio">
        	<input tabindex="0" name="gender" id="radio_male" type="radio" value="male" required>Male
        </label>
    </div>
    <div>
        <label class="radio">
        	<input tabindex="1" name="gender" id="radio_female" type="radio" value="female" required>Female
        </label>
    </div>
</div>
<div id="birthday" class="inline clear all-font-normal">
    <div>Birthday:</div>
    <div data-type="year">
    	<input tabindex="4" name="year" id="year" type="text" value="year" required />
    	<div class="select">
          <div>
          </div>
        </div>
    </div>
    <div data-type="month">
    	<input tabindex="3" name="month" id="month" type="text" value="month" required />
    	<div class="select">
          <div>
        	<div>Janvier</div>
            <div>Février</div>
            <div>Mars</div>
            <div>Avril</div>
            <div>Mai</div>
            <div>Juin</div>
        	<div>Juillet</div>
            <div>Août</div>
            <div>Septembre</div>
            <div>Octobre</div>
            <div>Novembre</div>
            <div>Décembre</div>
          </div>
        </div>
    </div>
    <div data-type="day">
    	<input tabindex="2" name="day" id="day" type="text" value="day" required />
    	<div class="select">
          <div>
        	<div>1</div>
        	<div>2</div>
        	<div>3</div>
        	<div>4</div>
        	<div>5</div>
        	<div>6</div>
        	<div>7</div>
        	<div>8</div>
        	<div>9</div>
        	<div>10</div>
        	<div>11</div>
        	<div>12</div>
        	<div>13</div>
        	<div>14</div>
        	<div>15</div>
        	<div>16</div>
        	<div>17</div>
        	<div>18</div>
        	<div>19</div>
        	<div>20</div>
        	<div>21</div>
        	<div>22</div>
        	<div>23</div>
        	<div>24</div>
        	<div>25</div>
        	<div>26</div>
        	<div>27</div>
        	<div>28</div>
        	<div>29</div>
        	<div>30</div>
        	<div>31</div>
          </div>
		</div>
    </div>
</div>
