/* line 4, ../sass/debug.scss */
div,
header,
h1, h2, h3, h4, h5,
section {
  box-shadow: 0 0 0 1px #FFA500 inset;
}

/* line 7, ../sass/debug.scss */
#tblCalculations {
  background-color: #333;
  border: solid 2px orange;
}
/* line 12, ../sass/debug.scss */
#tblCalculations th,
#tblCalculations td {
  border: solid 1px darkorange;
  font-family: Arial, Helvetica;
  font-size: 100%;
  padding: 4px;
}

/*
@media(orientation:landscape){
	body{
		background-color:#CFC;
	}
}
@media(orientation:portrait){
	body{
		background-color:#CCF;
	}
}*/
