/* line 4, ../sass/debug.scss */
div,
header,
h1, h2, h3, h4, h5,
section {
  box-shadow: 0 0 0 1px #FFA500 inset;
}

@media (orientation: landscape) {
  /* line 9, ../sass/debug.scss */
  body {
    background-color: #CFC;
  }
}
@media (orientation: portrait) {
  /* line 14, ../sass/debug.scss */
  body {
    background-color: #CCF;
  }
}
