/* variables, mixins etc */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype");
}

/* recalculate */
/* common classes */
/* line 73, ../sass/shared.scss */
.absolute {
  position: absolute !important;
}

/* line 76, ../sass/shared.scss */
.btn {
  cursor: default;
}

/* line 79, ../sass/shared.scss */
.clear {
  display: block;
}
/* line 64, ../sass/shared.scss */
.clear:after {
  clear: both !important;
  content: " " !important;
  display: block;
}

/* line 82, ../sass/shared.scss */
.close {
  background: url("../images/close_white.png") no-repeat 8px 8px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px;
}

/* line 88, ../sass/shared.scss */
.color-white {
  color: white;
}

/* line 91, ../sass/shared.scss */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* for all child elements */
/* line 101, ../sass/shared.scss */
.all-font-normal {
  font-style: normal !important;
}
/* line 103, ../sass/shared.scss */
.all-font-normal * {
  font-style: normal !important;
}

/* line 107, ../sass/shared.scss */
.half_wide {
  width: 50% !important;
}

/* line 110, ../sass/shared.scss */
.left {
  float: left !important;
}

/* line 113, ../sass/shared.scss */
.opacity01 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

/* line 116, ../sass/shared.scss */
.opacity02 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 119, ../sass/shared.scss */
.opacity03 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 122, ../sass/shared.scss */
.opacity04 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 125, ../sass/shared.scss */
.opacity05 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 128, ../sass/shared.scss */
.opacity06 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 131, ../sass/shared.scss */
.opacity07 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 134, ../sass/shared.scss */
.opacity08 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 137, ../sass/shared.scss */
.opacity09 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 140, ../sass/shared.scss */
.right {
  float: right !important;
}

/* line 143, ../sass/shared.scss */
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4;
}

/* line 148, ../sass/shared.scss */
br, hr {
  clear: both;
}

/* line 5, ../sass/levels.scss */
[data-level="money"] * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 9, ../sass/levels.scss */
[data-level="money"] > section {
  margin-top: 50px;
}
/* line 11, ../sass/levels.scss */
[data-level="money"] > section.menu {
  background-color: #1b1562;
  background-size: 100% 60px;
  float: left;
  height: 824px;
  padding: 10px;
  width: 200px;
}
/* line 18, ../sass/levels.scss */
[data-level="money"] > section.menu menu {
  background: url(../images/bg_my_profile_form_vertical.jpg) repeat-x;
  box-shadow: none;
  color: white;
  font-weight: bold;
}
/* line 23, ../sass/levels.scss */
[data-level="money"] > section.menu menu li {
  cursor: default;
  height: 56px;
  line-height: 56px;
  opacity: 0.7;
  padding: 5px 10px;
}
/* line 29, ../sass/levels.scss */
[data-level="money"] > section.menu menu li:hover {
  opacity: 1;
}
/* line 35, ../sass/levels.scss */
[data-level="money"] > section.content {
  float: right;
  padding: 72px 210px 26px 26px;
  width: 824px;
}
/* line 39, ../sass/levels.scss */
[data-level="money"] > section.content > h1 {
  background: url(../images/bg_bottom_panel_right.png) repeat-x;
  background-size: 100% 60px;
  color: white;
  font-family: Amaranth;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding-left: 26px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
/* line 57, ../sass/levels.scss */
[data-level="money"] > section.content .pay_way {
  font-weight: bold;
  padding: 10px 0;
}
/* line 61, ../sass/levels.scss */
[data-level="money"] > section.content [type="submit"] {
  clear: both;
  display: block;
  margin: 20px auto;
  visibility: hidden;
}
/* line 66, ../sass/levels.scss */
[data-level="money"] > section.content [type="submit"]:before {
  content: " ";
  display: block;
}
/* line 71, ../sass/levels.scss */
[data-level="money"] > section.content .left {
  margin: 10px auto;
}
/* line 73, ../sass/levels.scss */
[data-level="money"] > section.content .left.text {
  clear: left;
  margin-right: 10px;
  width: 130px;
}
/* line 80, ../sass/levels.scss */
[data-level="money"] > section.content input[type="text"],
[data-level="money"] > section.content input[type="password"] {
  margin-right: 4px;
}

/* line 86, ../sass/levels.scss */
#voucher_value2 {
  width: 60px;
}

/* line 89, ../sass/levels.scss */
#card_details_upd {
  width: 340px;
}
/* line 91, ../sass/levels.scss */
#card_details_upd form {
  background: white;
  padding: 14px;
}
/* line 95, ../sass/levels.scss */
#card_details_upd form input[type="text"] {
  height: 36px;
}
/* line 99, ../sass/levels.scss */
#card_details_upd form p {
  line-height: 20px;
  text-align: center;
}
/* line 103, ../sass/levels.scss */
#card_details_upd form button[type="submit"] {
  margin: auto !important;
}
