/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype");
}

/* recalculate */
/* common classes */
/* line 63, ../sass/shared.scss */
.btn {
  cursor: default;
}

/*	#free{
		display: none;
	}
	#seven{
		display: none;
	}
	#take_it{
		display: none;
	}
	[class^="pointer"]{
		display: none;
	}
	.scene_bingo{
		display: none;
	}*/
/* test block*/
/*#wrapper {
	
	background:url(../sources/bg_full_white_menus.jpg);
	div{
		display: none;
	}
	.menu_container{
		display: block;
	}
	#bottom_menu_item_games{
		display: block;
	}
	.bottom_menu_item{
		display: block;
	}
}*/
/* end of test block*/
/* line 43, ../sass/menus.scss */
.menu_container {
  display: none;
  z-index: 3;
  /* bottom menu container */
}
/* line 47, ../sass/menus.scss */
.bottom_menu_item .menu_container {
  bottom: 16px;
  padding-bottom: 16px;
  right: 8px;
}
/* line 52, ../sass/menus.scss */
.bottom_menu_item .menu_container menu li {
  height: 43px;
  padding-left: 14px;
  padding-right: 25px;
}
/* line 56, ../sass/menus.scss */
.bottom_menu_item .menu_container menu li menu {
  bottom: -42px;
}
/* line 61, ../sass/menus.scss */
.bottom_menu_item .menu_container menu.parent > li {
  padding-right: 40px;
}

/* line 68, ../sass/menus.scss */
#user_menu_container {
  left: -24px;
  padding-top: 10px;
  top: 12px;
}

/* line 74, ../sass/menus.scss */
menu {
  background-color: #0c173a;
  box-shadow: 0px 4px 81px 0 rgba(0, 0, 0, 0.83);
  border: solid 1px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 80, ../sass/menus.scss */
menu * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 90, ../sass/menus.scss */
menu li {
  border-top: solid 1px #29325F;
  font-size: 12.7px;
  letter-spacing: 0;
  list-style: none;
  position: relative;
}
/* line 97, ../sass/menus.scss */
menu li:not(:last-child) {
  border-bottom: solid 1px #000;
}
/* line 100, ../sass/menus.scss */
menu li a {
  color: white;
  font-family: AvenirMedium;
  font-weight: normal;
  line-height: 46px;
  text-decoration: none;
  text-shadow: white 0 0 20px;
  white-space: nowrap;
}
/* line 109, ../sass/menus.scss */
menu li menu {
  box-shadow: -5px 0px 21px 3px rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 112, ../sass/menus.scss */
menu li menu.short {
  left: 100%;
  position: absolute;
}
/* line 116, ../sass/menus.scss */
menu li menu li {
  height: 42px;
  line-height: 42px;
}
/* line 121, ../sass/menus.scss */
menu li.header {
  box-shadow: 12px -7px 31px rgba(255, 255, 255, 0.15) inset;
  font-family: Amaranth;
  font-weight: bold;
  font-style: italic;
  padding-left: 35px !important;
  font-size: 18px;
  line-height: 47px;
}
/* line 129, ../sass/menus.scss */
menu li.header > div {
  background: url(../images/bottom_menu_headers_pyctos.png) no-repeat;
  height: 20px;
  display: block !important;
  left: 8px;
  position: absolute;
  top: 13px;
  width: 21px;
}
/* line 140, ../sass/menus.scss */
menu .menu_wrapper {
  bottom: -16px;
  box-shadow: -5px 0px 21px 3px rgba(0, 0, 0, 0.5);
  display: none;
  left: 100%;
}
/* line 146, ../sass/menus.scss */
menu .menu_wrapper > div {
  background-color: #121033;
  height: 35px;
  position: static;
  width: 100%;
  z-index: 1;
}
/* line 152, ../sass/menus.scss */
menu .menu_wrapper > div > div {
  border-right: solid 3.65px #FFF;
  border-top: solid 3.65px #FFF;
  height: 10.1px;
  margin: auto;
  position: relative;
  right: 0;
  width: 10.1px;
}
/* line 161, ../sass/menus.scss */
menu .menu_wrapper > div:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
/* line 163, ../sass/menus.scss */
menu .menu_wrapper > div:first-child > div {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 17px;
}
/* line 168, ../sass/menus.scss */
menu .menu_wrapper > div:nth-child(2) {
  height: 388px;
  overflow: hidden;
}
/* line 172, ../sass/menus.scss */
menu .menu_wrapper > div:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  bottom: 0;
}
/* line 175, ../sass/menus.scss */
menu .menu_wrapper > div:last-child > div {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 11px;
}
/* line 180, ../sass/menus.scss */
menu .menu_wrapper > div > menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 185, ../sass/menus.scss */
.bottom_menu_item menu {
  background-color: #1b154f;
  opacity: 0.975;
}
/* line 189, ../sass/menus.scss */
.bottom_menu_item menu li:not(.header):hover {
  background-color: #121033;
}

/* line 195, ../sass/menus.scss */
#user_profile_menu {
  opacity: 0.97;
}
/* line 197, ../sass/menus.scss */
#user_profile_menu > li {
  height: 42px;
}
/* line 199, ../sass/menus.scss */
#user_profile_menu > li div:first-child {
  background: url(../images/bottom_pyctos.png) no-repeat 9px 5px !important;
  background-size: 392px 33px !important;
  position: absolute;
  left: 0 !important;
  top: auto !important;
  bottom: 0;
  height: 40px !important;
  width: 42px !important;
}
/* line 210, ../sass/menus.scss */
#user_profile_menu > li:nth-child(2) > div:first-child {
  background-position-x: -77px !important;
}
/* line 215, ../sass/menus.scss */
#user_profile_menu > li:nth-child(3) > div:first-child {
  background-position-x: -354px !important;
}
/* line 219, ../sass/menus.scss */
#user_profile_menu > li:first-child {
  height: 45px;
  padding-top: 5px;
}
/* line 223, ../sass/menus.scss */
#user_profile_menu > li:last-child {
  height: 47px;
  top: 1px !important;
}
/* line 226, ../sass/menus.scss */
#user_profile_menu > li:last-child div {
  background-position-y: -4px !important;
}
/* line 227, ../sass/menus.scss */
#user_profile_menu > li:last-child a {
  line-height: 40px;
}
/* line 229, ../sass/menus.scss */
#user_profile_menu > li > a {
  padding-left: 43px;
  padding-right: 23px;
}

/* line 238, ../sass/menus.scss */
#bottom_menu_container_cashier li.header > div {
  background-position: 0 0;
}

/* line 247, ../sass/menus.scss */
#bottom_menu_container_games li.header > div {
  background-position: -28px 0;
}

/* line 253, ../sass/menus.scss */
#cashier_submenu {
  top: -5px;
}
/* line 255, ../sass/menus.scss */
#cashier_submenu li {
  padding-left: 14px;
  padding-right: 14px;
}
/* line 258, ../sass/menus.scss */
#cashier_submenu li:first-child {
  height: 45px;
  line-height: 45px;
}
/* line 262, ../sass/menus.scss */
#cashier_submenu li:last-child {
  height: 39px;
  line-height: 36px;
}
/* line 265, ../sass/menus.scss */
#cashier_submenu li:last-child a {
  line-height: 36px;
}

/* line 269, ../sass/menus.scss */
.owner {
  background-color: #0c173a;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
}

/* line 275, ../sass/menus.scss */
#user_profile_menu_pointer_top {
  right: 23px;
  top: -6px;
}

/* line 279, ../sass/menus.scss */
#user_profile_menu_pointer_submenu {
  box-shadow: -1px 1px 0 0px #000;
  left: -3px;
  top: 24px;
}

/* line 284, ../sass/menus.scss */
#user_profile_menu_pointer_cashier {
  right: 9px;
  top: 18px;
}

/* line 288, ../sass/menus.scss */
.menu_pointer {
  border-right: solid 3px #FFF;
  border-top: solid 3px #FFF;
}
/* line 291, ../sass/menus.scss */
.menu_pointer:not(.special) {
  height: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}
/* line 294, ../sass/menus.scss */
.bottom_menu_item .menu_pointer:not(.special) {
  right: 10px;
  top: 22px;
}
