/* variables, mixins etc */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype");
}

/* recalculate */
/* common classes */
/* line 73, ../sass/shared.scss */
.absolute {
  position: absolute !important;
}

/* line 76, ../sass/shared.scss */
.btn {
  cursor: default;
}

/* line 79, ../sass/shared.scss */
.clear {
  display: block;
}
/* line 64, ../sass/shared.scss */
.clear:after {
  clear: both !important;
  content: " " !important;
  display: block;
}

/* line 82, ../sass/shared.scss */
.close {
  background: url("../images/close_white.png") no-repeat 8px 8px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px;
}

/* line 88, ../sass/shared.scss */
.color-white {
  color: white;
}

/* line 91, ../sass/shared.scss */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* for all child elements */
/* line 101, ../sass/shared.scss */
.all-font-normal {
  font-style: normal !important;
}
/* line 103, ../sass/shared.scss */
.all-font-normal * {
  font-style: normal !important;
}

/* line 107, ../sass/shared.scss */
.half_wide {
  width: 50% !important;
}

/* line 110, ../sass/shared.scss */
.left {
  float: left !important;
}

/* line 113, ../sass/shared.scss */
.opacity01 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

/* line 116, ../sass/shared.scss */
.opacity02 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 119, ../sass/shared.scss */
.opacity03 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 122, ../sass/shared.scss */
.opacity04 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 125, ../sass/shared.scss */
.opacity05 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 128, ../sass/shared.scss */
.opacity06 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 131, ../sass/shared.scss */
.opacity07 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 134, ../sass/shared.scss */
.opacity08 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 137, ../sass/shared.scss */
.opacity09 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 140, ../sass/shared.scss */
.right {
  float: right !important;
}

/* line 143, ../sass/shared.scss */
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4;
}

/* line 148, ../sass/shared.scss */
br, hr {
  clear: both;
}

/* line 36, ../sass/my_profile.scss */
.user_profile {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
  background: url(../images/account_bg_from_bottom.png) repeat-x 0 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-top: solid 1px #664BD9;
  display: block;
  color: white;
  display: none;
  z-index: 6;
}
/* line 64, ../sass/shared.scss */
.user_profile:after {
  clear: both !important;
  content: " " !important;
  display: block;
}
/* line 45, ../sass/my_profile.scss */
.user_profile * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
}
/* line 48, ../sass/my_profile.scss */
.user_profile *:not(.skip_common) {
  font-family: Amaranth;
  font-style: italic;
}
/* line 53, ../sass/my_profile.scss */
.user_profile a {
  color: white;
  font-style: normal;
}
/* line 57, ../sass/my_profile.scss */
.user_profile button {
  display: block;
}
/* line 60, ../sass/my_profile.scss */
.user_profile table.bg_overlight {
  background-position-y: 59px;
  border: none;
}
/* line 64, ../sass/my_profile.scss */
.user_profile .btn_blue {
  background: url(../images/bg_button_gradient_blue.png) repeat-x;
  border: solid 1px #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  width: 180px;
}
/* line 74, ../sass/my_profile.scss */
.user_profile .btn_yellow {
  background: url(../images/switch_to.png) repeat-x -45px 0px;
  background-size: 360px 44px;
  border: solid 1px #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #060415;
  font-size: 17px;
  font-weight: bolder;
  height: 46px;
  line-height: 46px;
  margin: auto;
  width: 260px;
}
/* line 87, ../sass/my_profile.scss */
.user_profile .flag {
  background: url(../images/check_fields.png) no-repeat;
  background-position-x: 0px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 6px;
  width: 20px;
}
/* line 95, ../sass/my_profile.scss */
.user_profile .flag.ok {
  background-position-y: 0px;
}
/* line 98, ../sass/my_profile.scss */
.user_profile .flag.delete {
  background-position-y: -26px;
}
/* line 102, ../sass/my_profile.scss */
.user_profile .font-common {
  font-size: 13px;
  font-style: normal;
}
/* line 105, ../sass/my_profile.scss */
.user_profile .font-common * {
  font-size: inherit;
  font-style: inherit;
}
/* line 110, ../sass/my_profile.scss */
.user_profile .left_support {
  float: left;
  width: 242px;
}
/* line 113, ../sass/my_profile.scss */
.user_profile .left_support img.left {
  margin-right: 8px;
}
/* line 117, ../sass/my_profile.scss */
.user_profile .overlight {
  box-shadow: 0 0px 68px 10px rgba(255, 255, 255, 0.25);
  height: 4px;
  margin: -20px auto 14px;
  position: absolute;
  left: 15%;
  right: 15%;
}
/* line 125, ../sass/my_profile.scss */
.user_profile .remember_me {
  font-family: AvenirOblique;
  font-size: 13px;
}
/* line 129, ../sass/my_profile.scss */
.user_profile .support_bottom {
  font-family: AvenirLight;
  font-size: 13px;
  font-style: normal;
}
/* line 135, ../sass/my_profile.scss */
.user_profile > div:first-child {
  overflow: hidden;
  border-bottom: solid 1px #0b051a;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 147, ../sass/my_profile.scss */
.user_profile input[type="text"], .user_profile input[type="password"] {
  background: url(../images/account_input_bg.png) repeat-x;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-style: normal;
  height: 36px;
  margin: auto auto 20px auto;
  padding: 0 8px;
  width: 100%;
}
/* line 159, ../sass/my_profile.scss */
.user_profile label.radio {
  background: url(../images/radios.png) no-repeat;
  background-position-x: 2px;
  background-size: 20px 57px;
  display: inline-block;
  line-height: 24px;
  margin-right: 10px;
  padding: 0 0 0 6px;
}
/* line 167, ../sass/my_profile.scss */
.user_profile label.radio input[type="radio"] {
  height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
  width: 14px;
}
/* line 173, ../sass/my_profile.scss */
.user_profile label.radio:not(.checked) {
  background-position-y: -37px;
}
/* line 177, ../sass/my_profile.scss */
.user_profile section {
  display: block;
  padding: 10px;
}
/* line 64, ../sass/shared.scss */
.user_profile section:after {
  clear: both !important;
  content: " " !important;
  display: block;
}
/* line 180, ../sass/my_profile.scss */
.user_profile section.narrow {
  padding: 30px 86px 24px;
}
/* line 183, ../sass/my_profile.scss */
.user_profile section .column {
  float: left;
  width: 50%;
}
/* line 188, ../sass/my_profile.scss */
.user_profile thead {
  border-bottom: solid 1px #0b051a;
}
/* line 191, ../sass/my_profile.scss */
.user_profile td {
  padding: 0 10px;
  position: relative;
}
/* line 197, ../sass/my_profile.scss */
.user_profile tr.padding-top-bottom-null td {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 204, ../sass/my_profile.scss */
.user_profile tr td:first-child .flag {
  right: 20px;
}
/* line 209, ../sass/my_profile.scss */
.user_profile tr td:last-child .flag {
  right: 38px;
}
/* line 217, ../sass/my_profile.scss */
.user_profile tbody tr.first td {
  padding-top: 20px;
}
/* line 222, ../sass/my_profile.scss */
.user_profile .close, .user_profile .go_left {
  border-top: solid 1px #666;
  position: absolute;
}
/* line 225, ../sass/my_profile.scss */
.user_profile .close:hover, .user_profile .go_left:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 229, ../sass/my_profile.scss */
.user_profile .close {
  right: -27px;
  top: 20px;
}
/* line 233, ../sass/my_profile.scss */
.user_profile .go_left {
  background: url("../images/pointer_go_left.png") no-repeat black;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  height: 30px;
  left: -29px;
  width: 29px;
}
/* line 240, ../sass/my_profile.scss */
.user_profile h4 {
  color: #FFD000;
  font-size: 24px;
  font-weight: bold;
  height: 58px;
  line-height: 60px;
  margin: 1px 1px 0;
  text-align: center;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black 1px -1px 0, black -1px 1px 0;
}
/* line 241, ../sass/my_profile.scss */
.user_profile h4:not(.second) {
  background: #241C57;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
/* line 253, ../sass/my_profile.scss */
.user_profile h4 .pyct {
  height: 22px;
  display: inline-block;
}
/* line 256, ../sass/my_profile.scss */
.user_profile h4 .pyct.my_profile {
  background: url(../images/user_gold.png) no-repeat;
  margin-right: 10px;
  margin-bottom: -4px;
  width: 18px;
}

/* line 267, ../sass/my_profile.scss */
.absolute_float {
  left: 0;
  position: absolute !important;
  right: 0;
}

/* line 272, ../sass/my_profile.scss */
.bg_overlight {
  background: url(../images/bg_my_profile_form_overlight.png) no-repeat;
  background-position-x: 50%;
  border-top: solid 1px #3e2a94;
  margin-top: 60px;
}

/* line 278, ../sass/my_profile.scss */
.bg_overlight_bottom {
  background: url(../images/account_bottom_overlight.png) no-repeat bottom center;
  background-size: 451.7333333333333px 17.64705882352941px;
  background-position-y: 98%;
}
/* line 284, ../sass/my_profile.scss */
.bg_overlight_bottom:not(.skip_height) {
  height: 33px;
}

/* line 288, ../sass/my_profile.scss */
.inner_auto_container {
  display: inline-block;
  margin: auto;
}

/* line 292, ../sass/my_profile.scss */
.link-question {
  display: inline-block;
  clear: left;
  font-family: AvenirRoman !important;
  font-size: 13px;
  font-style: normal !important;
  margin: 14px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 300, ../sass/my_profile.scss */
.link-question:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 306, ../sass/my_profile.scss */
label.ellipse {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  float: left;
  height: 12px;
  margin-right: 2px;
  margin-top: 5px;
  width: 12px;
}
/* line 315, ../sass/my_profile.scss */
label.ellipse.checked {
  background-color: #000;
  border: solid;
}
/* line 319, ../sass/my_profile.scss */
label.ellipse input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
}
/* line 323, ../sass/my_profile.scss */
label.ellipse + span {
  display: inline-block;
  float: left;
  font-family: AvenirOblique;
  font-size: 13px;
  margin: 4px auto auto 7px;
}

/* blocks themselwes*/
/* line 334, ../sass/my_profile.scss */
#my_profile_form {
  /*
  background:url(../sources/substrates/Account/my_Profile_form.gif);
  background-position: -43px -30px;
  border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
  height: 500px;
  width: 600px;
}
/* line 345, ../sass/my_profile.scss */
#my_profile_form table {
  margin-top: 0;
  height: 100%;
}
/* line 347, ../sass/my_profile.scss */
#my_profile_form table .bg_overlight {
  background-position-y: 60px;
}
/* line 352, ../sass/my_profile.scss */
#my_profile_form table td {
  width: 50%;
}
/* line 357, ../sass/my_profile.scss */
#my_profile_form table tr td:first-child {
  padding-left: 30px;
}
/* line 360, ../sass/my_profile.scss */
#my_profile_form table tr td:last-child {
  padding-right: 30px;
}
/* line 366, ../sass/my_profile.scss */
#my_profile_form table thead td {
  overflow: hidden;
  padding: 0 !important;
}
/* line 372, ../sass/my_profile.scss */
#my_profile_form table tfoot td {
  height: 86px;
  text-align: center;
  vertical-align: top;
}
/* line 376, ../sass/my_profile.scss */
#my_profile_form table tfoot td .btn_blue {
  margin: 12px auto;
}
/* line 382, ../sass/my_profile.scss */
#my_profile_form tr {
  border: none;
}
/* line 385, ../sass/my_profile.scss */
#my_profile_form tr.separator_top_under_header td {
  background-color: #3e2a94;
  height: 2px;
  padding: 0;
}
/* line 392, ../sass/my_profile.scss */
#my_profile_form .btn_yellow {
  background-size: 360px 38px;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  margin-left: 0;
  margin-top: -18px;
  width: 162px;
}
/* line 402, ../sass/my_profile.scss */
#my_profile_form td.bg_overlight_bottom {
  padding-bottom: 38px;
}

/* line 407, ../sass/my_profile.scss */
#btn_save_changes {
  height: 45px;
  margin: 9px auto auto !important;
}

/* line 414, ../sass/my_profile.scss */
#my_profile_change_password_form,
#my_profile_data {
  height: 343px;
  width: 430px;
}
/* line 418, ../sass/my_profile.scss */
#my_profile_change_password_form > div:first-child,
#my_profile_data > div:first-child {
  text-align: center;
}

/* line 425, ../sass/my_profile.scss */
#my_profile_login {
  /*background:url(../sources/substrates/Account/login.gif);
  //background-position: -43px -31px;
  border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
  height: 502px;
  width: 490px;
  /* Let it stay here, within #my_profile_login! */
}
/* line 436, ../sass/my_profile.scss */
#my_profile_login form {
  text-align: center;
}
/* line 438, ../sass/my_profile.scss */
#my_profile_login section[data-order="first"] {
  height: 262px;
  padding-top: 23px;
}
/* line 442, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] {
  background: url(../images/account_bg_from_bottom.png) repeat-x 0 100%;
  height: 182px;
  border-top: solid 2px rgba(255, 255, 255, 0.2);
}
/* line 446, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] h4 {
  height: 56px;
  line-height: 35px;
}
/* line 450, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button {
  background-size: 180px 76px;
  height: 76px;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  padding-left: 36px;
  padding-top: 6px;
  position: relative;
}
/* line 459, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button.left {
  margin-left: 42px;
}
/* line 461, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button.left .pyct {
  background-position-x: 0px;
  background-position-y: -2px;
}
/* line 466, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button.right {
  margin-right: 12px;
}
/* line 468, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button.right .pyct {
  background-position-x: -106px;
  background-position-y: -102px;
}
/* line 473, ../sass/my_profile.scss */
#my_profile_login section[data-order="last"] button .pyct {
  background: url(../images/coins_big.png);
  height: 100px;
  left: -50px;
  position: absolute;
  top: -10px;
  width: 100px;
}
/* line 484, ../sass/my_profile.scss */
#my_profile_login .narrow {
  padding-left: 114px;
  padding-right: 114px;
  text-align: center;
}
/* line 18, ../sass/my_profile.scss */
#my_profile_login .narrow button.btn_yellow {
  float: left;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  margin-top: 14px;
  width: 100%;
}
/* line 487, ../sass/my_profile.scss */
#my_profile_login .bg_overlight_bottom {
  margin-top: -31px;
}
/* line 490, ../sass/my_profile.scss */
#my_profile_login .remember_me {
  margin-top: -5px;
}
/* line 494, ../sass/my_profile.scss */
#my_profile_login #username_or_email {
  margin-top: 5px;
  margin-bottom: 14px;
}
/* line 498, ../sass/my_profile.scss */
#my_profile_login #remember_me_text {
  font-family: inherit;
  font-weight: bold;
  letter-spacing: -0.8px;
}

/* line 505, ../sass/my_profile.scss */
#my_profile_open_demo_account {
  /*background:url(../sources/substrates/Account/open_a_demo_account.gif);
  background-position: -42px -31px;
  border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
  background-position-y: -133px;
  height: 620px;
  width: 600px;
}
/* line 519, ../sass/my_profile.scss */
#my_profile_open_demo_account .bg_overlight_bottom.middle {
  bottom: 150px;
  position: absolute;
  width: 100%;
}
/* line 525, ../sass/my_profile.scss */
#my_profile_open_demo_account .go_left {
  top: 34%;
}
/* line 528, ../sass/my_profile.scss */
#my_profile_open_demo_account section {
  position: relative;
}
/* line 530, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="first"] {
  height: 410px;
  margin-bottom: 24px;
}
/* line 533, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="first"] a {
  font-style: italic;
}
/* line 537, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="first"] input[type="text"],
#my_profile_open_demo_account section[data-order="first"] input[type="password"] {
  width: 260px;
}
/* line 540, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="first"] span.skip_common {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 544, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] {
  height: 130px;
  padding: 0;
}
/* line 547, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] .bg_overlight {
  margin: auto;
}
/* line 550, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] .left_support {
  background: url(../images/account_bg_from_bottom.png) repeat-x 0 100%;
}
/* line 553, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] .subheader {
  background: url(../images/right_live_chat.png) no-repeat 7px 10px;
  background-size: 17px 18px;
  letter-spacing: inherit;
  padding: 10px 0 0 28px;
}
/* line 559, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] .support_bottom {
  padding: 14px;
  padding-top: 16px;
}
/* line 562, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] .support_bottom p {
  line-height: 18px;
  margin-right: -2px;
  margin-top: -2px;
}
/* line 570, ../sass/my_profile.scss */
#my_profile_open_demo_account section[data-order="last"] img.block.left {
  margin-right: 10px;
  margin-top: -2px;
}
/* line 578, ../sass/my_profile.scss */
#my_profile_open_demo_account .narrow {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}
/* line 18, ../sass/my_profile.scss */
#my_profile_open_demo_account .narrow button.btn_yellow {
  float: left;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  margin-top: 50px;
  width: 100%;
}
/* line 579, ../sass/my_profile.scss */
#my_profile_open_demo_account .inner_auto_container {
  font-family: AvenirMedium;
  font-size: 13px;
  margin-top: 5px;
}
/* line 585, ../sass/my_profile.scss */
#my_profile_open_demo_account a.skip_common {
  margin: 19px auto;
}

/* line 591, ../sass/my_profile.scss */
#right_7euros {
  background: url(../images/account_bg_from_bottom.png) repeat-x 0 100%;
  float: right;
  width: 334px;
}
/* line 596, ../sass/my_profile.scss */
#right_7euros .absolute.pyct {
  background: url(../images/free.png) no-repeat;
  height: 58px;
  width: 58px;
  top: 0;
  right: 0;
}
/* line 604, ../sass/my_profile.scss */
#right_7euros .left {
  background: url("../images/7euros.png");
  background-size: 103px 88px;
  height: 88px;
  margin-left: 18px;
  margin-top: 22px;
  width: 103px;
}
/* line 612, ../sass/my_profile.scss */
#right_7euros .right {
  margin-right: 30px;
}
/* line 615, ../sass/my_profile.scss */
#right_7euros .right p:first-child {
  font-family: AvenirMedium;
  font-size: 13px;
  font-style: normal;
  height: 48px;
  line-height: 50px;
  padding-top: 8px;
}
/* line 623, ../sass/my_profile.scss */
#right_7euros .right p:last-child {
  font-family: AvenirOblique;
  font-size: 13px;
  height: 42px;
  line-height: 40px;
  margin-top: -5px;
}
/* line 632, ../sass/my_profile.scss */
#right_7euros button, #right_7euros p {
  text-align: center;
  width: 180px;
}
/* line 636, ../sass/my_profile.scss */
#right_7euros button {
  font-size: 12px;
  font-style: normal;
  height: 40px;
  margin-top: -2px;
}

/* line 644, ../sass/my_profile.scss */
#my_profile_real_money_account {
  /*background:url(../sources/substrates/Account/open_a_real_money_account_step1.gif);
  background-position: -42px -33px;
  //border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
  height: 670px;
  width: 600px;
}
/* line 656, ../sass/my_profile.scss */
#my_profile_real_money_account #steps {
  height: 36px;
  position: absolute;
  width: 100%;
}
/* line 662, ../sass/my_profile.scss */
#my_profile_real_money_account #steps * {
  font-style: normal;
  font-weight: bolder;
  text-align: left;
}
/* line 667, ../sass/my_profile.scss */
#my_profile_real_money_account #steps div {
  height: 35px;
}
/* line 670, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div {
  position: absolute;
}
/* line 674, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div div {
  float: left;
  font-family: Amaranth;
  font-size: 14px;
  line-height: 34px;
}
/* line 680, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:first-child {
  background: url(../images/fish_left.png) no-repeat;
  left: 0;
  width: 303px;
}
/* line 686, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:first-child #step1 {
  background-position: -28px 0px;
  background-size: 100px 37px;
  letter-spacing: -0.2px;
  padding-left: 10px;
  width: 49px;
}
/* line 693, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:first-child #your_info {
  letter-spacing: -0.3px;
  padding-left: 27px;
  width: 235px;
}
/* line 702, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:last-child {
  background: url(../images/fish_right.png) no-repeat;
  right: 0;
  width: 315px;
}
/* line 709, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:last-child #step2 {
  letter-spacing: -0.2px;
  padding-left: 22px;
  width: 61px;
}
/* line 715, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div:last-child #complete_info {
  letter-spacing: -0.5px;
  padding-left: 29px;
  width: 253px;
}
/* line 724, ../sass/my_profile.scss */
#my_profile_real_money_account #steps > div #step1,
#my_profile_real_money_account #steps > div #step2 {
  color: black;
}
/* line 730, ../sass/my_profile.scss */
#my_profile_real_money_account section {
  color: white;
}
/* line 732, ../sass/my_profile.scss */
#my_profile_real_money_account section[data-order="first"] {
  height: 460px;
  margin-top: 0;
  padding-top: 40px;
}
/* line 736, ../sass/my_profile.scss */
#my_profile_real_money_account section[data-order="first"] .btn_yellow {
  margin-bottom: 15px;
  margin-top: 24px;
}
/* line 741, ../sass/my_profile.scss */
#my_profile_real_money_account section div.narrow {
  margin: auto;
  width: 260px;
}
/* line 746, ../sass/my_profile.scss */
#my_profile_real_money_account div.inline {
  display: inline-block;
}
/* line 749, ../sass/my_profile.scss */
#my_profile_real_money_account .absolute_float {
  margin-top: -20px;
}
/* line 752, ../sass/my_profile.scss */
#my_profile_real_money_account .verysign {
  background: url(../images/verysign.png);
  height: 139px;
  width: 187px;
}

/* / blocks */
/* line 761, ../sass/my_profile.scss */
#gender,
#birthday {
  height: 45px;
  line-height: 34px;
}

/* line 767, ../sass/my_profile.scss */
#gender div {
  float: left;
  margin-right: 14px;
}

/* line 776, ../sass/my_profile.scss */
#birthday div {
  float: right;
  margin-left: 15px;
}
/* line 779, ../sass/my_profile.scss */
#birthday div:first-child {
  float: left;
  margin-left: 0;
  padding-top: 4px;
}
/* line 784, ../sass/my_profile.scss */
#birthday div:last-child {
  margin-left: 0;
}
/* line 787, ../sass/my_profile.scss */
#birthday div input[type="text"] {
  margin-bottom: 0;
  margin-top: 0;
  width: 51px;
}

/* line 796, ../sass/my_profile.scss */
#tr-first .flag {
  margin-top: 25px;
}

/* line 801, ../sass/my_profile.scss */
#tr-second .flag {
  margin-top: 5px;
}

/*
#tr-fhird{
	// gender, birthday
}*/
/* line 810, ../sass/my_profile.scss */
#tr-fourth .flag {
  margin-top: 8px;
}
/* line 813, ../sass/my_profile.scss */
#tr-fourth td {
  padding-top: 5px;
}

/* line 818, ../sass/my_profile.scss */
#tr-fifth .flag {
  margin-top: 4px;
}

/* line 823, ../sass/my_profile.scss */
#tr-sixth .flag {
  margin-top: 2px;
}

/* line 832, ../sass/my_profile.scss */
#my_profile_change_password_form {
  /*background:url(../sources/substrates/Account/change_password.gif);
  background-position: -43px -33px;
  border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
  /*input[type="password"],
  input[type="text"]{
  	//margin-bottom: 20px;
  }*/
}
/* line 841, ../sass/my_profile.scss */
#my_profile_change_password_form h4 div:first-child {
  background: url(../images/lock_gold.png) no-repeat;
  margin-right: 10px;
  margin-bottom: -4px;
  width: 18px;
}
/* line 847, ../sass/my_profile.scss */
#my_profile_change_password_form .go_left {
  top: 140px;
}
/* line 854, ../sass/my_profile.scss */
#my_profile_change_password_form button {
  margin-top: 28px;
  width: 212px;
}
/* line 861, ../sass/my_profile.scss */
#my_profile_change_password_form .bg_overlight_bottom {
  margin-top: -27px;
}

/* line 865, ../sass/my_profile.scss */
#my_profile_data {
  /*background:url(../sources/substrates/Account/my_Profile.gif);
  background-position: -43px -33px;
  border-bottom: solid 1px red;
  *{
  	opacity: 0.9;
  }*/
}
/* line 875, ../sass/my_profile.scss */
#my_profile_data div p {
  margin: 38px auto;
  font-size: 14px;
  font-style: normal;
}
/* line 881, ../sass/my_profile.scss */
#my_profile_data .column {
  margin-right: 4px;
  padding-left: 10px;
  width: auto;
}
/* line 886, ../sass/my_profile.scss */
#my_profile_data .column p:first-child {
  margin-top: 13px;
}
/* line 891, ../sass/my_profile.scss */
#my_profile_data button {
  background-position-x: 0;
  background-size: 358px 44px;
  float: left;
  font-size: 16px;
  height: 42px;
  margin-top: 11px;
  padding-left: 69px;
  width: 252px;
}
/* line 901, ../sass/my_profile.scss */
#my_profile_data .bg_overlight_bottom {
  margin-top: -20px;
}

/* for tests */
/* line 907, ../sass/my_profile.scss */
#test_inner_submenu {
  background: #FFFF99;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 6;
}
