/* variables, mixins etc */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype");
}

/* recalculate */
/* common classes */
/* line 63, ../sass/shared.scss */
.btn {
  cursor: default;
}

/* line 66, ../sass/shared.scss */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* line 75, ../sass/shared.scss */
.close {
  background: url("../images/close_white.png") no-repeat 9px 10px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px;
}

/* line 81, ../sass/shared.scss */
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4;
}

/* line 14, ../sass/my_profile.scss */
.user_profile {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
  background: url(../images/bg_my_profile_form_vertical.jpg) repeat-x 0 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: none;
  z-index: 6;
}
/* line 20, ../sass/my_profile.scss */
.user_profile * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Amaranth;
  font-style: italic;
  position: static;
}
/* line 26, ../sass/my_profile.scss */
.user_profile button {
  display: block;
}
/* line 30, ../sass/my_profile.scss */
.user_profile > div:first-child {
  background: url(../images/bg_my_profile_header.jpg) no-repeat 50% 0;
  line-height: 58px;
  text-align: center;
}
/* line 10, ../sass/my_profile.scss */
.user_profile > div:first-child * {
  text-align: center;
}
/* line 37, ../sass/my_profile.scss */
.user_profile input[type="text"], .user_profile input[type="password"] {
  height: 35px;
  display: block;
  width: 100%;
}
/* line 43, ../sass/my_profile.scss */
.user_profile td, .user_profile section {
  color: white;
  padding: 10px;
}
/* line 47, ../sass/my_profile.scss */
.user_profile section {
  background: url(../images/bg_my_profile_form_overlight.jpg) no-repeat 50% 0;
}
/* line 49, ../sass/my_profile.scss */
.user_profile section.narrow {
  padding: 24px 86px;
}
/* line 52, ../sass/my_profile.scss */
.user_profile section .column {
  float: left;
  width: 50%;
}
/* line 57, ../sass/my_profile.scss */
.user_profile section input[type="text"],
.user_profile section input[type="password"] {
  margin: 6px 0 14px 0;
}
/* line 61, ../sass/my_profile.scss */
.user_profile .close, .user_profile .go_left {
  border-top: solid 1px #666;
  position: absolute;
}
/* line 64, ../sass/my_profile.scss */
.user_profile .close:hover, .user_profile .go_left:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 68, ../sass/my_profile.scss */
.user_profile .close {
  right: -27px;
  top: 20px;
}
/* line 72, ../sass/my_profile.scss */
.user_profile .go_left {
  background: url("../images/pointer_go_left.png") no-repeat black;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  height: 30px;
  left: -29px;
  width: 29px;
}
/* line 79, ../sass/my_profile.scss */
.user_profile h4 {
  color: #FFD000;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
/* line 84, ../sass/my_profile.scss */
.user_profile h4 .pyct {
  height: 22px;
  display: inline-block;
}
/* line 87, ../sass/my_profile.scss */
.user_profile h4 .pyct.my_profile {
  background: url(../images/user_gold.png) no-repeat;
  margin-right: 10px;
  margin-bottom: -4px;
  width: 18px;
}

/*[data-container]{
	z-index: 6;
}*/
/* line 99, ../sass/my_profile.scss */
#my_profile_form {
  height: 500px;
  width: 600px;
}
/* line 102, ../sass/my_profile.scss */
#my_profile_form table {
  background: url(../images/bg_my_profile_form_overlight.jpg) no-repeat 50% 60px;
  height: 100%;
}
/* line 105, ../sass/my_profile.scss */
#my_profile_form table td {
  width: 50%;
}
/* line 108, ../sass/my_profile.scss */
#my_profile_form table thead {
  background: url(../images/bg_my_profile_header.jpg) no-repeat 50% 0;
  line-height: 58px;
}
/* line 10, ../sass/my_profile.scss */
#my_profile_form table thead * {
  text-align: center;
}
/* line 110, ../sass/my_profile.scss */
#my_profile_form table thead td {
  padding: 0;
}
/* line 113, ../sass/my_profile.scss */
#my_profile_form table tfoot td {
  height: 86px;
  text-align: center;
  vertical-align: top;
}

/* line 123, ../sass/my_profile.scss */
#gender td div {
  display: inline-block;
  float: left;
}
/* line 128, ../sass/my_profile.scss */
#gender td:first-child div {
  margin-right: 14px;
}
/* line 133, ../sass/my_profile.scss */
#gender td:last-child div {
  float: right;
  margin-left: 15px;
}
/* line 136, ../sass/my_profile.scss */
#gender td:last-child div:first-child {
  float: left;
  margin-left: 0;
}
/* line 140, ../sass/my_profile.scss */
#gender td:last-child div input[type="text"] {
  width: 51px;
}

/* line 150, ../sass/my_profile.scss */
#btn_save_changes {
  background: url(../images/bg_button_gradient_blue.png) repeat-x;
  border: solid 1px #333;
  border-radius: 4px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  width: 180px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* line 163, ../sass/my_profile.scss */
#my_profile_change_password_form,
#my_profile_data {
  height: 343px;
  width: 430px;
}
/* line 167, ../sass/my_profile.scss */
#my_profile_change_password_form > div:first-child,
#my_profile_data > div:first-child {
  background: url(../images/bg_my_profile_header.jpg) no-repeat 50% 0;
  line-height: 58px;
}
/* line 10, ../sass/my_profile.scss */
#my_profile_change_password_form > div:first-child *,
#my_profile_data > div:first-child * {
  text-align: center;
}

/* line 175, ../sass/my_profile.scss */
#my_profile_change_password_form h4 div:first-child {
  background: url(../images/lock_gold.png) no-repeat;
  margin-right: 10px;
  margin-bottom: -4px;
  width: 18px;
}
/* line 180, ../sass/my_profile.scss */
#my_profile_change_password_form .go_left {
  top: 140px;
}
/* line 183, ../sass/my_profile.scss */
#my_profile_change_password_form button {
  height: 45px;
  width: 210px;
}

/* line 190, ../sass/my_profile.scss */
#my_profile_data div p {
  margin: 16px 0;
}
/* line 194, ../sass/my_profile.scss */
#my_profile_data button {
  height: 40px;
  width: 248px;
}

/* for tests */
/* line 201, ../sass/my_profile.scss */
#test_inner_submenu {
  background: #FFFF99;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 6;
}
