@charset "IBM866";
/* variables, mixins etc */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
@font-face {
  font-family: 'Amaranth';
  src: url("../sources/fonts/Amaranth.ttf") format("truetype");
}

/* recalculate */
/* common classes */
/* line 72, ../sass/shared.scss */
.absolute {
  position: absolute !important;
}

/* line 75, ../sass/shared.scss */
.btn {
  cursor: default;
}

/* line 78, ../sass/shared.scss */
.clear {
  display: block;
}
/* line 63, ../sass/shared.scss */
.clear:after {
  clear: both !important;
  content: " " !important;
  display: block;
}

/* line 81, ../sass/shared.scss */
.close {
  background: url("../images/close_white.png") no-repeat 9px 10px black;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 27px;
  width: 26px;
}

/* line 87, ../sass/shared.scss */
.color-white {
  color: white;
}

/* line 90, ../sass/shared.scss */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* line 99, ../sass/shared.scss */
.half_wide {
  width: 50% !important;
}

/* line 102, ../sass/shared.scss */
.left {
  float: left !important;
}

/* line 105, ../sass/shared.scss */
.opacity01 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

/* line 108, ../sass/shared.scss */
.opacity02 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 111, ../sass/shared.scss */
.opacity03 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 114, ../sass/shared.scss */
.opacity04 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 117, ../sass/shared.scss */
.opacity05 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 120, ../sass/shared.scss */
.opacity06 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 123, ../sass/shared.scss */
.opacity07 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 126, ../sass/shared.scss */
.opacity08 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 129, ../sass/shared.scss */
.opacity09 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 132, ../sass/shared.scss */
.right {
  float: right !important;
}

/* line 135, ../sass/shared.scss */
.shade {
  background-color: #03040F;
  opacity: 0.8;
  z-index: 4;
}

/* line 140, ../sass/shared.scss */
br, hr {
  clear: both;
}

/* line 7, ../sass/scene.scss */
.pointer_left {
  background: url(../images/pointer_left.png);
  left: 204.69231px;
}

/* line 11, ../sass/scene.scss */
.pointer_right {
  background: url(../images/pointer_right.png);
  right: 146px;
}

/* line 15, ../sass/scene.scss */
[class^="pointer_"] {
  background-size: 95%;
  height: 40px;
  width: 40px;
}

/* line 20, ../sass/scene.scss */
[class^="pointer_"].top {
  top: 151px;
}

/* line 23, ../sass/scene.scss */
[class^="pointer_"].middle {
  top: 352px;
}

/* line 26, ../sass/scene.scss */
[class^="pointer_"].bottom {
  top: 553px;
}

/* line 29, ../sass/scene.scss */
[id^="bingo_header_"] {
  /* outer containers fot sections' headers - stars, headers*/
  /* Stretch the layer: */
  left: 200px;
  right: 133px;
  text-align: center;
}
/* line 34, ../sass/scene.scss */
[id^="bingo_header_"] div {
  position: relative;
}
/* line 37, ../sass/scene.scss */
[id^="bingo_header_"] > div {
  /* inner container, should be centered */
  margin: 0 auto;
}
/* line 39, ../sass/scene.scss */
[id^="bingo_header_"] > div > div {
  /* stars, headers*/
  display: inline-block;
  position: relative;
  /* stars */
}
/* line 44, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:first-child, [id^="bingo_header_"] > div > div:last-child {
  background: url(../images/star.png) no-repeat 0 1px;
  height: 27px;
  margin-top: 2px;
  width: 18px;
}
/* line 50, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:last-child {
  margin-left: 3px;
}
/* line 53, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:nth-child(2) {
  /* headers */
  color: #FFD800;
  background-size: 100%;
  height: 27px;
  font-family: Amaranth;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-bottom: 4px;
  text-shadow: #222 1.5px 1.5px 0, #222 -1.5px -1.5px 0, #222 -2px 0px 0;
  top: -8px;
  white-space: nowrap;
}
/* line 66, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:nth-child(2) div {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 71, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:nth-child(2) div:first-child {
  height: 16px;
  z-index: 2;
}
/* line 75, ../sass/scene.scss */
[id^="bingo_header_"] > div > div:nth-child(2) div:last-child {
  color: #FB0;
}

/* line 83, ../sass/scene.scss */
#bingo_header_1 {
  top: 92px;
}
/* line 87, ../sass/scene.scss */
#bingo_header_1 > div > div:first-child {
  width: 21px;
}
/* line 88, ../sass/scene.scss */
#bingo_header_1 > div > div:last-child {
  width: 22px;
}

/* line 92, ../sass/scene.scss */
#bingo_header_2 {
  top: 295px;
}
/* line 96, ../sass/scene.scss */
#bingo_header_2 > div > div:first-child {
  width: 23px;
}
/* line 97, ../sass/scene.scss */
#bingo_header_2 > div > div:last-child {
  width: 25px;
}

/* line 101, ../sass/scene.scss */
#bingo_header_3 {
  top: 498px;
}
/* line 105, ../sass/scene.scss */
#bingo_header_3 > div > div:first-child {
  width: 22px;
}
/* line 106, ../sass/scene.scss */
#bingo_header_3 > div > div:last-child {
  width: 24px;
}

/* line 110, ../sass/scene.scss */
.scene_bingo {
  background: url(../images/game_bingo.png) no-repeat;
  height: 143px;
  width: 125px;
  /* позиции по горизонтали */
  /* первая колонка */
  /* вторая колонка */
  /* третья колонка */
  /* четвёртая колонка */
}
/* line 114, ../sass/scene.scss */
.scene_bingo.top {
  top: 118px;
}
/* line 116, ../sass/scene.scss */
.scene_bingo.top + div {
  /*кнопка в первом ряду: позиция по вертикали*/
  top: 236px;
}
/* line 121, ../sass/scene.scss */
.scene_bingo.middle {
  top: 321px;
}
/* line 123, ../sass/scene.scss */
.scene_bingo.middle + div {
  /*кнопка во втором ряду: позиция по вертикали*/
  top: 439px;
}
/* line 128, ../sass/scene.scss */
.scene_bingo.bottom {
  top: 523px;
}
/* line 130, ../sass/scene.scss */
.scene_bingo.bottom + div {
  /*кнопка в третьем ряду: позиция по вертикали*/
  top: 641px;
}
/* line 135, ../sass/scene.scss */
.scene_bingo + div {
  /*кнопки во всех рядах: высота, ширина*/
  display: block;
  height: 25px;
  font-size: 13px;
  font-family: AvenirBlack;
  text-align: center;
  width: 125px;
}
/* line 143, ../sass/scene.scss */
.scene_bingo + div > div {
  background-color: #EAE4FD;
  border: solid 1px #000;
  border-radius: 4px;
  box-shadow: 0 -6px 10px 0 #CCC inset;
  color: #18134b;
  line-height: 23.07692px;
  margin: auto;
  position: static;
  white-space: nowrap;
}
/* line 157, ../sass/scene.scss */
.scene_bingo.left {
  left: 252px;
}
/* line 159, ../sass/scene.scss */
.scene_bingo.left + div {
  left: 252px;
}
/* line 164, ../sass/scene.scss */
.scene_bingo.center_left {
  left: 405px;
}
/* line 166, ../sass/scene.scss */
.scene_bingo.center_left + div {
  left: 405px;
}
/* line 171, ../sass/scene.scss */
.scene_bingo.center_right {
  left: 559px;
}
/* line 173, ../sass/scene.scss */
.scene_bingo.center_right + div {
  left: 559px;
}
/* line 178, ../sass/scene.scss */
.scene_bingo.right {
  left: 708px;
}
/* line 180, ../sass/scene.scss */
.scene_bingo.right + div {
  left: 708px;
}

/* line 185, ../sass/scene.scss */
#shell-corner-left {
  background: url(../images/shell_corners/vertical_left.jpg);
  left: 217px;
  top: 210px;
  height: 451px;
  width: 32px;
  z-index: 1;
}

/* line 193, ../sass/scene.scss */
#shell-corner-right {
  background: url(../images/shell_corners/vertical_right.jpg);
  left: 841px;
  height: 434px;
  top: 210px;
  width: 32px;
  z-index: 1;
}

/*#shell-corner-top-left{
	background: url(../images/shell_corners/shell_corner_top_left.jpg);
	left: 217px;
	top: 210px;
	height: 32px;
	width: 24px;
	z-index: 1;
}
#shell-corner-top-right{
	background: url(../images/shell_corners/shell_corner_top_right.jpg) 100%;
	left: 841px;
	height: 46px;
	top: 210px;
	width: 23px;
	z-index: 1;
}
#shell-corner-middle-left{
	background: url(../images/shell_corners/shell_corner_middle_left.jpg);
	left: 294px;
	top: 477px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-middle-right{
	background: url(../images/shell_corners/shell_corner_middle_right.jpg) 100%;
	left: 1015px;
	top: 477px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-bottom-left{
	background: url(../images/shell_corners/shell_corner_bottom_left.jpg);
	left: 294px;
	top: 718px;
	height: 32px;
	width: 47px;
	z-index: 1;
}
#shell-corner-bottom-right{
	background: url(../images/shell_corners/shell_corner_bottom_right.jpg) 100%;
	left: 1015px;
	top: 718px;
	height: 32px;
	width: 47px;
	z-index: 1;
}*/
