@charset "IBM866";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/screen.scss */
body {
  overflow: hidden;
}

/* line 14, ../sass/screen.scss */
#wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 21, ../sass/screen.scss */
div, span {
  box-shadow: 0 0 0 1px #F00;
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
div {
  position: absolute;
}

/* line 28, ../sass/screen.scss */
#top_bar {
  height: 90px;
  width: 100%;
}

/* line 32, ../sass/screen.scss */
#logo {
  left: 15px;
  top: 8px;
  height: 30px;
  width: 38%;
}

/* line 39, ../sass/screen.scss */
#winings {
  left: 41.95%;
  /*left:430px; */
  top: 8px;
  height: 67px;
  width: 235px;
}

/* line 45, ../sass/screen.scss */
#total, #win_numb {
  position: relative;
  text-align: center;
  width: 100%;
}

/* line 51, ../sass/screen.scss */
#win_numb
> div {
  display: inline-block;
  height: 50px;
  position: relative;
  margin-right: 2px;
  text-align: center;
  width: 72px;
}

/* line 59, ../sass/screen.scss */
#current_time {
  height: 26px;
  right: 5px;
  top: 14px;
  width: 217px;
}

/* line 65, ../sass/screen.scss */
#welcome_back {
  height: 40px;
  left: 10px;
  top: 64px;
  width: 188px;
}

/* line 72, ../sass/screen.scss */
#left_block {
  height: 540px;
  left: 10px;
  top: 124px;
  width: 180px;
}

/* line 78, ../sass/screen.scss */
#top_box, #bottom_box {
  position: relative;
  width: 100%;
}

/* line 82, ../sass/screen.scss */
#top_box {
  height: 270px;
  margin-bottom: 12px;
}

/* line 87, ../sass/screen.scss */
#bottom_box {
  height: 260px;
}
/* line 89, ../sass/screen.scss */
#bottom_box div {
  height: 50px;
  border-bottom: solid 1px #333;
  color: red;
  padding: 8px 13px;
  position: static;
}

/* line 98, ../sass/screen.scss */
#right_block {
  height: 350px;
  right: 12px;
  top: 66px;
  width: 134px;
}

/* line 105, ../sass/screen.scss */
#promotions,
#live_support {
  height: 171px;
  position: relative;
  width: 100%;
}

/* line 110, ../sass/screen.scss */
#promotions {
  margin-bottom: 10px;
}

/* главная (центральная) сцена	*/
/* line 115, ../sass/screen.scss */
#scene
> div {
  height: 138px;
  left: 255px;
  width: 576px;
}
/* line 119, ../sass/screen.scss */
#scene
> div:nth-child(1) {
  top: 123px;
}
/* line 120, ../sass/screen.scss */
#scene
> div:nth-child(2) {
  top: 324px;
}
/* line 121, ../sass/screen.scss */
#scene
> div:nth-child(3) {
  top: 528px;
}
/* line 122, ../sass/screen.scss */
#scene
> div > div {
  height: 137px;
  display: inline-block;
  padding-top: 113px;
  /* прижать к низу кнопку */
  width: 118px;
}
/* line 127, ../sass/screen.scss */
#scene
> div > div:nth-child(1) {
  left: 0;
}
/* line 128, ../sass/screen.scss */
#scene
> div > div:nth-child(2) {
  left: 150px;
}
/* line 129, ../sass/screen.scss */
#scene
> div > div:nth-child(3) {
  left: 304px;
}
/* line 130, ../sass/screen.scss */
#scene
> div > div:nth-child(4) {
  left: 453px;
  width: 123px;
}
/* line 132, ../sass/screen.scss */
#scene
> div button {
  display: block;
  height: 25px;
  margin: auto;
}

/* line 139, ../sass/screen.scss */
#bottom_menu {
  left: 0;
  bottom: 0;
  height: 82px;
  width: 100%;
}

/* line 146, ../sass/screen.scss */
#top_left,
#bottom_menu_left_side {
  position: relative;
}

/* line 152, ../sass/screen.scss */
#my_balance,
#currency,
#currency_sum {
  display: inline-block;
  line-height: 50px;
  position: static;
}

/* line 157, ../sass/screen.scss */
#my_balance {
  margin-left: 12px;
}

/* line 161, ../sass/screen.scss */
#currency {
  text-align: center;
  width: 112px;
}

/* line 165, ../sass/screen.scss */
#currency_sum {
  background-color: #0F0E32;
  color: white;
  line-height: 28px;
}

/* line 170, ../sass/screen.scss */
#top_left {
  height: 31px;
  width: 80px;
}

/* line 176, ../sass/screen.scss */
#bottom_menu_left_side,
#bottom_menu_right_side {
  bottom: 0;
  display: inline-block;
}

/* line 180, ../sass/screen.scss */
#bottom_menu_left_side {
  height: 50px;
  margin-right: 6px;
  width: 201px;
}

/* line 185, ../sass/screen.scss */
#bottom_menu_right_side {
  height: 47px;
  text-align: right;
  padding: 18px 0;
  width: 819px;
}

/* line 192, ../sass/screen.scss */
#bottom_menu_right_side
> span {
  margin-left: 19px;
  padding: 4px;
}
/* line 195, ../sass/screen.scss */
#bottom_menu_right_side
> span a {
  color: white;
  text-decoration: none;
}
