@charset "IBM866";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc clearfix */
/* line 29, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 32, ../sass/screen.scss */
body {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 300% normal;
}
/* line 36, ../sass/screen.scss */
body * {
  font-family: Avenir, Amaranth, Righteous-Regular;
}

/* line 40, ../sass/screen.scss */
.block {
  display: block;
}

/* line 42, ../sass/screen.scss */
#wrapper {
  background: url(../images/bg_bench.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 49, ../sass/screen.scss */
div, span {
  box-shadow: 0 0 0 1px #F00;
  box-sizing: border-box;
}

/* line 53, ../sass/screen.scss */
div {
  position: absolute;
}

/* line 56, ../sass/screen.scss */
#top_bar {
  height: 6.64063%;
  background: url(../images/bg_top_bar.png) repeat-x;
  border: solid 1px black;
  box-shadow: 0 0px 30px #252424;
  width: 100%;
}

/* line 65, ../sass/screen.scss */
#logo {
  left: 1.46484%;
  height: 3.90625%;
  font-size: 0;
  background: url(../images/logo.png) no-repeat;
  color: #FFB600;
  font-family: Avenir-Medium;
  font-size: 0;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-shadow: 1px 0 #000;
  top: 9px;
  padding: 0;
  width: 38%;
}
/* line 79, ../sass/screen.scss */
#logo > span {
  font-size: 71%;
  letter-spacing: 1px;
}

/* line 85, ../sass/screen.scss */
#free {
  background: url(../images/free.png);
  height: 58px;
  left: 133px;
  top: 124px;
  width: 58px;
}

/* line 93, ../sass/screen.scss */
#take_it {
  height: 15px;
  color: white;
  font-weight: bold;
  left: 34px;
  letter-spacing: 0.15px;
  top: 157px;
  width: 156px;
}

/* line 103, ../sass/screen.scss */
#seven {
  background: url(../images/7euros.png);
  height: 112px;
  left: 41px;
  top: 196px;
  width: 130px;
}

/* line 111, ../sass/screen.scss */
#get_it_now {
  background: url(../images/bg_get_it_now.png);
  background-repeat: repeat-x;
  border-radius: 3px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  font-style: italic;
  font-weight: bold;
  height: 37px;
  left: 41px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  top: 324px;
  width: 117px;
}

/* line 128, ../sass/screen.scss */
#no_deposit_required {
  color: white;
  font-style: italic;
  font-size: 75%;
  left: 45px;
  letter-spacing: 0.2px;
  top: 367px;
  width: 113px;
}

/* line 138, ../sass/screen.scss */
#total {
  color: white;
  font-style: italic;
  font-size: 14.5px;
  left: 506px;
  text-align: center;
  top: 6px;
}

/* line 146, ../sass/screen.scss */
.win_numb {
  background: url(../images/bg_666.jpg) repeat-x -4px;
  border: solid 1px #333;
  border-radius: 5px;
  height: 48px;
  text-align: center;
  top: 26px;
  width: 70px;
  z-index: 0;
}

/* line 156, ../sass/screen.scss */
.h666 {
  background: url(../images/666.png) no-repeat -2px 12px;
  height: 37px;
  top: 25px;
  width: 75px;
  z-index: 2;
}

/* line 164, ../sass/screen.scss */
#hell666_1 {
  left: 431px;
}

/* line 167, ../sass/screen.scss */
#hell666_2 {
  left: 510px;
}

/* line 170, ../sass/screen.scss */
#hell666_3 {
  left: 589px;
}

/* line 174, ../sass/screen.scss */
#win_numb_1 {
  left: 431px;
}

/* line 177, ../sass/screen.scss */
#win_numb_2 {
  left: 510px;
}

/* line 180, ../sass/screen.scss */
#win_numb_3 {
  left: 589px;
}

/* line 183, ../sass/screen.scss */
#current_time {
  background: url(../images/clock.png) no-repeat 0 -2px #151647;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 26px;
  color: white;
  font-family: "Avenir lt 35 light";
  font-size: 76%;
  font-weight: 100;
  line-height: 26px;
  padding-left: 27px;
  right: 5px;
  top: 14px;
  width: 217px;
}
/* line 197, ../sass/screen.scss */
#current_time b {
  font-family: "Avenir-Heavy";
}

/* line 202, ../sass/screen.scss */
#welcome_back {
  background: url(../images/euro_coin.png) no-repeat 5px -5px;
  color: white;
  height: 40px;
  font-size: 75%;
  font-family: "Avenir-Medium";
  font-weight: 100;
  padding-left: 50px;
  top: 64px;
  width: 188px;
}

/* line 214, ../sass/screen.scss */
.user_name {
  font-weight: bold;
}

/* line 218, ../sass/screen.scss */
.small_header {
  color: white;
  font-size: 100%;
  width: 100%;
}

/* line 223, ../sass/screen.scss */
.small_header:after {
  content: "";
}

/* line 227, ../sass/screen.scss */
.small_header
div.subheader {
  font-family: Avenir;
  font-style: italic;
  font-weight: bold;
  padding: 8px 4px 8px 25px;
  width: 100%;
}

/* line 234, ../sass/screen.scss */
.subsrtrate {
  background-color: #01040b;
  opacity: 0.45;
  height: 34px;
  width: 100%;
}

/* line 243, ../sass/screen.scss */
.float_panel,
.right_block {
  border: solid 1px #000;
  border-radius: 3px;
  opacity: 0.25;
}

/* line 250, ../sass/screen.scss */
#left_bottom_palette {
  background-color: #FC00FF;
  height: 276px;
  top: 405px;
}

/* line 260, ../sass/screen.scss */
#left_top_box,
.left_bottom_box,
#left_bottom_palette {
  left: 10px;
  width: 180px;
}

/* line 264, ../sass/screen.scss */
#left_top_box {
  background-color: #ff0eff;
  box-shadow: 0 0 0 1px #000;
  height: 272px;
  top: 123px;
}

/* line 270, ../sass/screen.scss */
.left_bottom_box {
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 30px;
  border-bottom: solid 1px #001;
  color: white;
  padding: 0 13px;
}

/* line 282, ../sass/screen.scss */
.left_bottom_box
> div {
  color: #FFF;
  font-style: italic;
  font-size: 78%;
  font-weight: 100;
  margin-right: 0;
  right: 0px;
  left: 12px;
  bottom: -2px;
  padding-left: 30px;
  width: 100%;
}

/* line 295, ../sass/screen.scss */
.left_bottom_box
> div > div {
  font-size: 110%;
  letter-spacing: 0;
  right: 0;
  margin-right: 18px;
  position: absolute;
  top: 0;
}

/* line 304, ../sass/screen.scss */
#left_bottom_box_1 {
  background: url(../images/copa.png) no-repeat 10px 17px;
  font-style: italic;
  font-size: 110%;
  letter-spacing: 0.2px;
  padding-top: 10px;
  padding-left: 39px;
  top: 405px;
  /* далее +50px	*/
}

/* line 313, ../sass/screen.scss */
#left_bottom_box_2 {
  background: url(../images/flag_germany.png) no-repeat 12px 29px;
  top: 455px;
}

/* line 317, ../sass/screen.scss */
#left_bottom_box_3 {
  background: url(../images/flag_italy.png) no-repeat 12px 29px;
  top: 505px;
}

/* line 321, ../sass/screen.scss */
#left_bottom_box_4 {
  background: url(../images/flag_gb.png) no-repeat 12px 29px;
  top: 555px;
}

/* line 325, ../sass/screen.scss */
#left_bottom_box_5 {
  background: url(../images/flag_greece.png) no-repeat 12px 29px;
  top: 605px;
}

/* line 330, ../sass/screen.scss */
.panel_content {
  font-size: 100%;
  top: 35px;
  padding: 6px 10px;
}

/* line 337, ../sass/screen.scss */
.panel_content
p {
  font-weight: normal;
  line-height: 138%;
  margin: 4.2% auto;
}

/* line 344, ../sass/screen.scss */
.panel_content
p:first-child {
  margin-top: 1.5%;
}

/* line 349, ../sass/screen.scss */
.panel_content
p:first-child
img {
  margin-top: 7.5%;
  margin-left: 4%;
}

/* line 356, ../sass/screen.scss */
.right_block,
.right_panel {
  border-radius: 4px;
  font-size: 100%;
  right: 12px;
  width: 134px;
}

/* line 363, ../sass/screen.scss */
.right_panel
.panel_content {
  color: white;
  font-size: 83%;
}

/* line 368, ../sass/screen.scss */
.right_block {
  background-color: #3D025C;
  /* border-radius: 4px; */
  height: 170px;
  opacity: 0.9;
}

/* line 376, ../sass/screen.scss */
#right_block_promotions,
#right_promotion {
  top: 67px;
}

/* line 380, ../sass/screen.scss */
#right_block_live_support,
#right_live_support {
  top: 246px;
}

/* line 384, ../sass/screen.scss */
#right_promotion
.subheader {
  background: url(../images/right_promo.png) no-repeat 9px 11px;
}

/* line 388, ../sass/screen.scss */
#right_live_support
.subheader {
  background: url(../images/right_live_chat.png) no-repeat 9px 11px;
}

/* line 393, ../sass/screen.scss */
.scene_bingo {
  background: url(../images/game_bingo.png);
  height: 143px;
  width: 118px;
}

/* line 399, ../sass/screen.scss */
.pointer_left {
  background: url(../images/pointer_left.png);
  left: 205px;
}

/* line 404, ../sass/screen.scss */
.pointer_right {
  background: url(../images/pointer_right.png);
  right: 147px;
}

/* line 409, ../sass/screen.scss */
[class^="pointer_"] {
  height: 38px;
  width: 38px;
}

/* line 414, ../sass/screen.scss */
[class^="pointer_"].top {
  top: 150px;
}

/* line 418, ../sass/screen.scss */
[class^="pointer_"].middle {
  top: 352px;
}

/* line 422, ../sass/screen.scss */
[class^="pointer_"].bottom {
  top: 553px;
}

/* line 426, ../sass/screen.scss */
.scene_bingo.top {
  top: 118px;
}

/* line 429, ../sass/screen.scss */
.scene_bingo.middle {
  top: 321px;
}

/* line 432, ../sass/screen.scss */
.scene_bingo.bottom {
  top: 523px;
}

/* line 437, ../sass/screen.scss */
.scene_bingo
+ div {
  /*кнопки во всех рядах: высота, ширина*/
  display: block;
  height: 25px;
  font-size: 100%;
  line-height: 25px;
  text-align: center;
  width: 118px;
  /* та же, что и у родительского блока, иначе возникнут проблемы - при относительном позиционировании увеличение размера шрифта может привести к непредсказуемым последствиям */
}

/* line 447, ../sass/screen.scss */
.scene_bingo
+ div > div {
  background-color: #EAE4FD;
  border: solid 1px #000;
  border-radius: 4px;
  box-shadow: 0 -6px 10px 0 #CCC inset;
  font-size: 90%;
  margin: auto;
  padding: 0 10px;
  position: static;
  /* у родительского блока размер шрифта - 100%*/
  white-space: nowrap;
}

/* line 460, ../sass/screen.scss */
.scene_bingo.top
+ div {
  /*кнопка в первом ряду: позиция по вертикали*/
  top: 236px;
}

/* line 465, ../sass/screen.scss */
.scene_bingo.middle
+ div {
  /*кнопка во втором ряду: позиция по вертикали*/
  top: 439px;
}

/* line 470, ../sass/screen.scss */
.scene_bingo.bottom
+ div {
  /*кнопка в третьем ряду: позиция по вертикали*/
  top: 641px;
}

/* позиции по горизонтали */
/* первая колонка */
/* line 477, ../sass/screen.scss */
.scene_bingo.left {
  left: 252px;
}

/* line 480, ../sass/screen.scss */
.scene_bingo.left + div {
  left: 252px;
}

/* вторая колонка */
/* line 484, ../sass/screen.scss */
.scene_bingo.center_left {
  left: 405px;
}

/* line 487, ../sass/screen.scss */
.scene_bingo.center_left + div {
  left: 405px;
}

/* третья колонка */
/* line 491, ../sass/screen.scss */
.scene_bingo.center_right {
  left: 559px;
}

/* line 494, ../sass/screen.scss */
.scene_bingo.center_right + div {
  left: 559px;
}

/* четвёртая колонка */
/* line 498, ../sass/screen.scss */
.scene_bingo.right {
  left: 708px;
}

/* line 501, ../sass/screen.scss */
.scene_bingo.right + div {
  left: 708px;
}

/* line 506, ../sass/screen.scss */
#my_balance,
#currency_sum {
  line-height: 50px;
}

/* line 509, ../sass/screen.scss */
#my_balance {
  bottom: 0;
  color: white;
  letter-spacing: -0.5px;
  margin-left: 12px;
}

/* line 515, ../sass/screen.scss */
#currency_sum {
  background-color: #0F0E32;
  border-bottom: solid 1px #999;
  border-radius: 5px;
  bottom: 11px;
  color: #FFD900 !important;
  font-size: 110%;
  height: 29px;
  line-height: 28px;
  left: 99px;
  text-align: center;
  width: 88px;
}

/* line 529, ../sass/screen.scss */
#bottom_top_left {
  background: url(../images/half_round.png) no-repeat;
  bottom: 49px;
  height: 31px;
  width: 80px;
  z-index: 1;
}

/* line 538, ../sass/screen.scss */
#bottom_menu_left_side,
#bottom_menu_right_side {
  bottom: 1px;
}

/* line 541, ../sass/screen.scss */
#bottom_menu_left_side {
  background: url(../images/bg_bottom_panel_left.png);
  height: 50px;
  width: 201px;
  z-index: 0;
}

/* line 548, ../sass/screen.scss */
#bottom_menu_right_side {
  background: url(../images/bg_bottom_panel_right.png);
  bottom: 0.5%;
  height: 45px;
  left: 207px;
  text-align: right;
  width: 819px;
}

/* line 557, ../sass/screen.scss */
#make_a_deposite {
  background: url(../images/make_a_deposite.png) no-repeat;
  border-radius: 4px;
  border: solid 1px #000;
  height: 30px;
  left: 14px;
  line-height: 187.5%;
  font-style: italic;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 47px;
  position: absolute;
  top: 11px;
  width: auto;
}

/* line 574, ../sass/screen.scss */
.bottom_menu_item {
  bottom: 3px;
  color: white;
  font-size: 100%;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: -0.8px;
  padding: 4px;
  padding-top: 3px;
  padding-left: 19px;
}

/* line 586, ../sass/screen.scss */
#bottom_menu_item_profile {
  background: url(../images/bottom_menu_user.png) no-repeat -8px 2px;
  left: 594px;
}

/* line 590, ../sass/screen.scss */
#bottom_menu_item_cashier {
  background: url(../images/bottom_menu_casher.png) no-repeat -6px 2px;
  left: 676px;
}

/* line 594, ../sass/screen.scss */
#bottom_menu_item_games {
  background: url(../images/bottom_menu_pointer_right.png) no-repeat 3px black;
  border-bottom: solid 1px #999;
  border-radius: 20px;
  box-shadow: 0 -3px 10px #140D30 inset;
  height: 22px;
  left: 760px;
  line-height: 19px;
  padding-bottom: 11px;
  padding-top: 0;
  padding-left: 30px;
  bottom: 10px;
  width: 84px;
}

/* line 609, ../sass/screen.scss */
#bottom_menu_item_chat {
  background: url(../images/bottom_menu_chat.png) no-repeat -8px;
  left: 857px;
}

/* line 613, ../sass/screen.scss */
#bottom_menu_item_logout {
  background: url(../images/bottom_menu_switch_off.png) no-repeat -7px 3px;
  left: 951px;
  padding-left: 21px;
}
