body 
*{
	box-sizing:border-box;
	font-family: Avenir, Amaranth, Righteous-Regular;
}
div,span{
	/* box-shadow: 0 0 0 1px #F00; */
	box-sizing:border-box;	
}
div{
	position:absolute;
}
#wrapper {
	width:1027px;
	height:768px
}
#top_bar{
	height:90px;
	width:100%;
}
	#logo{
		/* color: #FFB600; */
		font-size: 215%;
		font-weight: bold;
		left: 12px;
		letter-spacing: 1.5px;
		/* top: 0px; */
	
		height: 30px;
		padding: 0;
		width: 38%;
	}
	#logo>span{
		font-size: 71%;
		letter-spacing: 1px;
	}	
	
	#free{
		background:url(../images/free.png);
		height:58px;
		left:133px;
		top:124px;
		width:58px;
	}
	#take_it{
		height:15px;
		color: white; 
		font-weight: bold;
		left:34px;
		letter-spacing: 0.15px;
		top: 157px;
		width: 156px;
	}
	#seven{
		background:url(../images/7euros.png);
		height:112px;
		left:41px;
		top: 196px;
		width: 130px;
	}
	#get_it_now{
		background:url(../images/bg_get_it_now.png);
		background-repeat: repeat-x;
		border-radius: 3px;
		border-left: solid 1px #000;
		border-right: solid 1px #000;
		font-style: italic;
		font-weight: bold;
		height: 37px;
		left:41px;
		line-height: 37px;
		text-align: center;
		text-transform: uppercase;
		top: 324px;
		width: 117px;
	}
	#no_deposit_required{
		color:white;
		font-style:italic;
		font-size: 80%;
		left:45px;
		letter-spacing: 0.2px;
		top: 367px;
		width: 113px;
	}

		#total{
			color: white;
			font-style: italic;
			font-size: 14.5px;
			left: 506px;
			text-align:center;
			top: 6px;
		}
		.win_numb{
			height: 49px;
			text-align:center;
			top:26px;
			width: 74px;
		}		
		#win_numb_1{
			left: 431px;
		}
		#win_numb_2{
			left: 510px;
		}
		#win_numb_3{
			left: 589px;
		}
	#current_time{
		height: 26px;
		color: white;
		font-size: 13.5px;
		line-height: 26px;
		padding-left: 27px;
		right: 5px;
		top:14px;
		width: 217px;
	}
#welcome_back{
	height:40px;
	left:10px;
	top: 64px;
	width:188px;
}				

	#left_top_box,
	.left_bottom_box{
		left: 10px;
		width:180px;
	}
	#left_top_box{
		height: 272px;
		top: 123px;
	}
	.left_bottom_box{
		height:50px;
		font-size:100%;
		font-weight: bold;
		letter-spacing: 0px;
		line-height: 30px;
		border-bottom: solid 1px #001;
		color: white;
		padding: 0 13px;
	
}
	.left_bottom_box
		>div{
		color:#FFF;
		font-style:italic;
		font-size: 78%;
		font-weight: 100;
		margin-right: 0;
		right: 0px;
		left: 12px;
		bottom: -2px;
		padding-left: 30px;
		width: 170px;
	}
	.left_bottom_box
		>div >div{
		float:right;
		font-size: 110%;
		letter-spacing: 0;
		margin-right: 4px;
		position: static;
	}
		#left_bottom_box_1{
			background: url(../images/copa.png) no-repeat 10px 17px;
			font-style: italic;
			font-size: 110%;
			letter-spacing: 0.2px;
			padding-top: 10px;
			padding-left: 39px;
			top:405px; /* далее +50px	*/
		}
		#left_bottom_box_2{
			background: url(../images/flag_germany.png) no-repeat 12px 29px;
			top:455px;
		}
		#left_bottom_box_3{
			background:url(../images/flag_italy.png) no-repeat 12px 29px;
			top:505px;
		}
		#left_bottom_box_4{
			background:url(../images/flag_gb.png) no-repeat 12px 29px;
			top:555px;
		}
		#left_bottom_box_5{
			background:url(../images/flag_greece.png) no-repeat 12px 29px;
			top:605px;
		}

	.right_block{
		height: 170px;
		right: 12px;
		width: 134px;
	}
	#right_block_promotions{
		top: 67px;
	}
	#right_block_live_support{
		top: 246px	
	}
	
.scene_bingo{
	background: url(../images/game_bingo.png);
	height: 143px;
	width: 118px;
}
	
	.scene_bingo.top{
		top: 118px;	
	}	
	.scene_bingo.middle{
		top: 321px;	
	}	
	.scene_bingo.bottom{
		top: 523px;	
	}
	
	.scene_bingo
		+div{
		/*кнопки во всех рядах: высота, ширина*/
		display: block;
		height: 25px;
		font-size: 100%;
		line-height: 25px;
		text-align: center;
		width: 118px; /* та же, что и у родительского блока, иначе возникнут проблемы - при относительном позиционировании увеличение размера шрифта может привести к непредсказуемым последствиям */
	}
	.scene_bingo
		+div >div{
		background-color: #EAE4FD;
		border: solid 1px #000;
		border-radius: 6px;
		box-shadow: 0 -7px 18px 0 #999 inset;
		font-size: 90%;
		margin:auto;
		padding: 0 10px;
		position:static; /* у родительского блока размер шрифта - 100%*/
	
		white-space: nowrap;
}
	.scene_bingo.top
		+div{
		/*кнопка в первом ряду: позиция по вертикали*/
		top: 236px;
	}
	.scene_bingo.middle
		+div{
		/*кнопка во втором ряду: позиция по вертикали*/
		top: 439px;
	}
	.scene_bingo.bottom
		+div{
		/*кнопка в третьем ряду: позиция по вертикали*/
		top: 641px;
	}

		/* позиции по горизонтали */
		/* первая колонка */
		.scene_bingo.left{
			left: 252px;
		}
			.scene_bingo.left +div{
				left: 252px;
			}
		/* вторая колонка */
		.scene_bingo.center_left{
			left:405px;
		}
			.scene_bingo.center_left +div{
				left:405px;
			}
		/* третья колонка */
		.scene_bingo.center_right{
			left:559px;
		}
			.scene_bingo.center_right +div{
				left:559px;
			}
		/* четвёртая колонка */
		.scene_bingo.right{
			left:708px;
		}	
			.scene_bingo.right +div{
				left:708px;
			}	

	#my_balance,
	#currency_sum{
		line-height:50px;
	}
	#my_balance{
		bottom:0;
		margin-left:12px;
	}
	#currency_sum{
		background-color:#0F0E32;
		bottom: 11px;
		color:white;
		height: 29px;
		line-height:28px;
	
		left: 99px;
		text-align: center;
		width: 88px;
	}
	#bottom_top_left{
		bottom: 51px;
		height:31px;
		width:80px;
	}	
	#bottom_menu_left_side,
	#bottom_menu_right_side{
		bottom: 1px;
	}
	#bottom_menu_left_side{
		height: 50px;
		width:201px;
	}
	#bottom_menu_right_side{
		height: 47px;
		left: 207px;
		text-align:right;
		padding: 18px 0;
		width:819px;
	}	
	.bottom_menu_item{
		bottom: 3px;
		color:white;
		font-size: 16px;
		font-weight: bold;
		line-height: 29px;
		padding:4px;	
		padding-left: 19px;
	}
	#bottom_menu_item_profile{
		left: 594px;
	}
	#bottom_menu_item_cashier{
		left: 676px;
	}
	#bottom_menu_item_games{
		left: 759px;
	
		width: 84px;
	}
	#bottom_menu_item_chat{
		left: 855px;
	}
	#bottom_menu_item_logout{
		left: 954px;
	}
	
